$nav-item-padding-vertical:                      5px;
$nav-item-padding-horizontal:                    0;

$nav-sublist-padding-vertical:                   5px;
$nav-sublist-padding-left:                       15px;
$nav-sublist-deeper-padding-left:                15px;
$nav-sublist-item-padding-vertical:              2px;

$nav-header-padding-vertical:                    $nav-item-padding-vertical;
$nav-header-padding-horizontal:                  $nav-item-padding-horizontal;
$nav-header-font-size:                           $global-small-font-size;
$nav-header-text-transform:                      uppercase;
$nav-header-margin-top:                          $global-margin;

$nav-divider-margin-vertical:                    5px;
$nav-divider-margin-horizontal:                  0;

$nav-default-item-color:                         $global-inverse-color;
$nav-default-item-hover-color:                   $global-inverse-color;
$nav-default-item-active-color:                  $global-primary-background;
$nav-default-subtitle-font-size:                 $global-small-font-size;
$nav-default-header-color:                       $global-emphasis-color;
$nav-default-divider-border-width:               $global-border-width;
$nav-default-divider-border:                     $global-border;
$nav-default-sublist-item-color:                 darken($global-inverse-color, 25%);
$nav-default-sublist-item-hover-color:           $global-inverse-color;
$nav-default-sublist-item-active-color:          $global-primary-background;

$nav-primary-item-font-size:                     $global-large-font-size;
$nav-primary-item-line-height:                   $global-line-height;
$nav-primary-item-color:                         $global-muted-color;
$nav-primary-item-hover-color:                   $global-color;
$nav-primary-item-active-color:                  $global-emphasis-color;
$nav-primary-subtitle-font-size:                 $global-medium-font-size;
$nav-primary-header-color:                       $global-emphasis-color;
$nav-primary-divider-border-width:               $global-border-width;
$nav-primary-divider-border:                     $global-border;
$nav-primary-sublist-item-color:                 $global-muted-color;
$nav-primary-sublist-item-hover-color:           $global-color;
$nav-primary-sublist-item-active-color:          $global-emphasis-color;

$nav-dividers-margin-top:                        0;
$nav-dividers-border-width:                      $global-border-width;
$nav-dividers-border:                            $global-border;