$pagination-margin-horizontal:                   10px;

$pagination-item-padding-vertical:               5px;
$pagination-item-padding-horizontal:             10px;
$pagination-item-color:                          $global-muted-color;
$pagination-item-hover-color:                    $global-color;
$pagination-item-hover-text-decoration:          none;
$pagination-item-active-color:                   $global-inverse-color;
$pagination-item-disabled-color:                 $global-muted-color;