<article class="uk-card uk-card-default uk-border-rounded">
    <div class="uk-card-body uk-text-center">
        <h2 class="uk-margin-small-bottom">Nothing Found</h2>
        <p class="uk-margin-remove-top uk-text-muted">Sorry, but nothing matched your search terms.</p>
    </div>
</article>