---
layout: default
title: Blog
breadcrumb: true
asBlog: false
asSingle: true
---
<main data-title="blog-single">
    {{> post-title-rethereum-is-changing-to-hypra }}
    {{#if setting.blog.disqussShortname}}
    {{> component-disqus }}
    {{/if}}
</main>