---
layout: default
title: Blog
breadcrumb: true
asBlog: false
asSingle: true
---
<main data-title="blog-single">
    {{> post-title-what-are-safe-smart-wallets }}
    {{#if setting.blog.disqussShortname}}
    {{> component-disqus }}
    {{/if}}
</main>