<!-- widget lates begin -->
<aside class="uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
        <h5 class="uk-heading-bullet uk-text-uppercase uk-margin-remove-bottom">Latest News</h5>
        <ul class="uk-list uk-list-divider uk-list-large widget-latest"></ul>        
    </div>
</aside>
<!-- widget lates end -->