<!-- footer begin -->
<footer>
    <div class="uk-section uk-section-secondary in-footer-feature uk-margin-medium-top">
        <div class="uk-container">
            <div class="uk-grid uk-flex uk-flex-center">
                <div class="uk-width-5-6@m">
                    <div class="uk-grid uk-grid-collapse uk-child-width-1-3@s" data-uk-grid="">
                        <div class="uk-flex uk-flex-middle">
                            <div class="in-icon-wrap uk-margin-right">
                                <i class="fas fa-history"></i>
                            </div>
                            <div>
                                <h6 class="uk-margin-remove">10 Years Crypto Experience</h6>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle uk-flex-center@m">
                            <div class="in-icon-wrap uk-margin-right">
                                <i class="fas fa-key"></i>
                            </div>
                            <div>
                                <h6 class="uk-margin-remove">Secure Crypto</h6>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle uk-flex-right@m">
                            <div class="in-icon-wrap uk-margin-right">
                                <i class="fas fa-chart-simple"></i>
                            </div>
                            <div>
                                <h6 class="uk-margin-remove">Publicly Tradable</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section uk-background-secondary uk-light">
        <div class="uk-container uk-text-small">
            <div class="uk-child-width-1-2@m" data-uk-grid="">
                <div class="in-footer-logo">
                    <span class="in-highlight">Previous known as Rethereum</span>
                </div>
                <div class="uk-flex uk-flex-right@m">
                    {{> component-social-media }}
                </div>
            </div>
            <div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-margin-large-top" data-uk-grid="">
                <div>
                    <h5>Markets</h5>
                    <ul class="uk-list uk-link-text">
                        <li><a target="_blank" href="https://safe.trade/trading/rthusdt">SafeTrade</a></li>
                        <li><a target="_blank" href="https://xeggex.com/market/RTH_USDT">Xeggex</a></li>
                        <li><a target="_blank" href="https://tradeogre.com/exchange/RTH-USDT">TradeOgre</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Information</h5>
                    <ul class="uk-list uk-link-text">
                        <li><a target="_blank" href="https://github.com/Rethereum-blockchain">Github</a></li>
                        <li><a target="_blank" href="https://github.com/Rethereum-blockchain/go-rethereum">Source Code</a></li>
                        <li><a target="_blank" href="https://github.com/Rethereum-blockchain/whitepaper/blob/master/Rethereum_Whitepaper.pdf">Whitepaper</a></li>
                        <li><a target="_blank" href="{{setting.siteInfo.explorer}}">Blockchain Explorer</a></li>
                    </ul>
                </div>
                <div>
                    <h5>Contact us</h5>
                    <ul class="uk-list uk-link-text">
                        <li><a target="_blank" href="https://twitter.com/HypraNetwork">Twitter</a></li>
                        <li><a target="_blank" href="https://discord.com/invite/rethereum-1131328579947462676">Discord</a></li>
                    </ul>
                </div>
                <div>
                    <h5></h5>
                    <ul class="uk-list uk-link-text">
                    </ul>
                </div>
            </div>
            <div class="uk-grid uk-margin-large-top">
                <div class="uk-width-1-1">
                    <p class="copyright-text uk-heading-line"><span>{{component.footer.copyrightText}}</span></p>
                    <p class="in-trading-risk">Cryptocurrency involves high risks and may not be suitable for all investors. The value of cryptocurrencies is volatile and can fluctuate significantly in response to market conditions, regulatory developments, technical issues, and other factors. You should only trade with money that you can afford to lose and be aware of the legal status of cryptocurrency in your jurisdiction. Some countries may prohibit or restrict the use of cryptocurrency or impose sanctions on its users. You are solely responsible for complying with the laws and regulations of your country and any other applicable jurisdictions before engaging in any cryptocurrency-related activities.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->