<!-- slideshow content begin -->
<div class="uk-section uk-padding-remove-vertical">
    <div class="uk-light in-slideshow uk-background-cover uk-background-top-center" style="background-image: url({{root}}img/in-liquid-slide-bg.png);" data-uk-slideshow>
        <ul class="uk-slideshow-items">
            <li>
    <div class="uk-container">
        <div class="uk-grid-medium uk-grid" data-uk-grid="">
            <div class="uk-width-1-2@s uk-first-column">
                <div class="uk-overlay">
                    <h1>New standard<br>in EVM blockchains.</h1>
                    <p class="uk-text-lead uk-visible@m">Hypra is Proof-of-Work, Tokens, NFTs and smart contracts all on one network.</p>
                    <a href="{{setting.siteInfo.explorer}}" class="uk-button uk-button-default uk-border-rounded uk-visible@s">Explore Network</a>
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <img class="in-slide-img" src="{{root}}img/in-lazy.gif" data-src="{{root}}img/in-liquid-slide-1.svg" alt="image-slide" width="500" height="400"
                    data-uk-img="">
            </div>
        </div>
    </div>
</li>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-previous data-uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" data-uk-slidenav-next data-uk-slideshow-item="next"></a>
        {{#ifpage 'index'}}
        {{> component-slideshow-extend-4}}
        {{/ifpage}}
        {{#ifpage 'homepage2'}}
        {{> component-slideshow-extend-2}}
        {{/ifpage}}
        {{#ifpage 'homepage3'}}
        {{> component-slideshow-extend-3}}
        {{/ifpage}}
        {{#ifpage 'homepage4'}}
        {{> component-slideshow-extend-4}}
        {{/ifpage}}
    </div>
</div>
<!-- slideshow content end -->
