<!-- widget tags begin -->
<aside class="uk-margin-medium-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
        <h5 class="uk-heading-bullet uk-text-uppercase uk-margin-remove-bottom">Tags</h5>
        <div class="uk-margin-top widget-tag"></div>
    </div>
</aside>
<!-- widget tags end -->