<!-- widget search begin -->
<aside class="uk-margin-medium-bottom">
    <form name="blog-search" class="uk-search uk-search-default uk-width-1-1">
        <a href="" class="uk-search-icon-flip" data-uk-search-icon></a>
        <input class="uk-input uk-border-rounded" type="search" placeholder="Search here...">
    </form>
</aside>
<!-- widget search end -->