<!-- social media begin -->
<div class="uk-flex social-media-list">
	<div><a href="https://twitter.com/HypraNetwork" class="color-twitter text-decoration-none"><i class="fab fa-twitter"></i> Twitter</a></div>
</div>
<!-- social media end -->