.in-client-logo-1 {
    .uk-tile {
        background: $global-background;
        border: $global-border-width solid $global-border;
        border-right: 0;
        border-top: 0;
        padding: 28px 0;
        &:first-child,
        &:nth-child(6) {
            border-left: 0;
        }
        &:nth-child(n+6) {
            border-bottom: 0;
        }
        img {
            opacity: 0.8;
            transition: 0.3s ease-in-out;
            &:hover {
                opacity: 1;
            }
        }
    }    
}
@media (max-width: 960px) {
    .in-client-logo-1 {
        padding: 0;
        .uk-tile {
            border-left: 0;
            border-right: 0;
            &:nth-child(n+6) {
                border-bottom: $global-border-width solid $global-border;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}