<!-- slideshow content begin -->
<section>    
    <div id="main-slideshow" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {{slide-id}}
        </div>
        <div class="carousel-indicators"></div>
        <button class="carousel-control-prev" type="button" data-bs-target="#main-slideshow" data-bs-slide="prev"></button>
        <button class="carousel-control-next" type="button" data-bs-target="#main-slideshow" data-bs-slide="next"></button>
    </div>
</section>
<!-- slideshow content end -->