<div class="carousel-item">
    <div class="carousel-caption d-flex align-items-center">
        <div class="container">
            <div class="row gx-md-5 align-items-md-center">
                <div class="col-md-8 col-xl-6 order-first">
                    <h1 class="fw-bold display-5">Access a wealth of trading opportunities</h1>
                    <p class="lead mt-3 mb-4 d-none d-xl-block">Trusting in the security of the Global leader in broker, more than 3 million products are waiting for you.</p>
                    <a href="#" class="btn btn-warning">Start trading<i class="fas fa-bolt ms-1"></i></a>
                    <a href="#" class="btn btn-link ms-3 d-none d-xl-inline"><i class="fas fa-arrow-right"></i>Try demo account</a>
                </div>
                <div class="col-md-4 col-xl-6 order-last">
                    <div class="in-carousel-image">
                        <img src="img/in-cirro-slide-1.jpg" alt="slide" width="856" height="570" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>