// theme colors
$primary: #FC5B3F;
$secondary: #101112;
$success: #3BD297;
$info: #1980EC;
$warning: #F2C643;
$danger: #EE4F6F;
$light: #F2F3F5;
$dark: #0F0F0F;
$background: #FFFFFF;
$body: #707070;
$link: #FD7C65;