<article class="card mb-4">
    <div class="card-body blog-card p-3 p-md-4">
        <h3 class="fw-bold">
            <a href="${path.join('/')}/${link}" class="link-primary text-decoration-none">${title}</a>
        </h3>
        <p>${content}</p>
        <div class="blog-author d-flex align-items-center">
            <img class="rounded-circle me-1" src="${author.avatar}" alt="author" width="32" height="32">
            <small class="text-muted">
                ${author.name}<span class="mx-1">•</span>${date}
            </small>
        </div>
    </div>
    <div class="card-footer blog-footer d-flex justify-content-between align-items-center px-3 px-md-4 py-2">
        <span class="badge bg-secondary">${category}</span>
        <a href="${path.join('/')}/${link}" class="btn btn-link"><i class="fas fa-arrow-right"></i>Read more</a>
    </div>
</article>