<article class="card mb-4 mb-lg-0">
    <div class="card-body text-center px-4 py-5">
        <h2 class="fw-bold">Nothing Found</h3>
        <p class="text-muted mb-0">Sorry, but nothing matched your search terms.</p>
    </div>
</article>