.in-team-3 {
    .uk-card-default {
        border: $global-border-width solid $global-border;
        background-color: $global-border;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}