---
layout: default
title: Blog
breadcrumb: true
asBlog: true
---
<main data-title="blog">
    <!-- section content begin -->
    <section class="py-5">
        <div class="container">
            <div class="row gy-3 gy-lg-0{{#if setting.blog.showWidgets.allHide}} justify-content-center{{/if}}">
                <div {{#unless setting.blog.showWidgets.allHide}}class="col-md-12 col-lg-8"{{/unless}}{{#if setting.blog.showWidgets.allHide}}class="col-lg-9"{{/if}}>
                    {{> section-blog-number }}
                    {{> component-pagination }}
                </div>
                {{#unless setting.blog.showWidgets.allHide}}
                <div class="col-md-12 col-lg-4 mt-md-3 mt-lg-0">
                    {{#if setting.blog.showWidgets.search}}
                    {{> component-widget-search }}
                    {{/if}}
                    {{#if setting.blog.showWidgets.categories}}
                    {{> component-widget-categories }}
                    {{/if}}
                    {{#if setting.blog.showWidgets.latestPosts}}
                    {{> component-widget-latest }}
                    {{/if}}
                    {{#if setting.blog.showWidgets.tags}}
                    {{> component-widget-tags }}
                    {{/if}}
                </div>
                {{/unless}}
            </div>
        </div>
    </section>
    <!-- section content end -->
</main>