<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-flex uk-flex-center">
                <div class="uk-width-3-4@m uk-margin-bottom">
                    <h2 class="uk-margin-remove-bottom">Our Milestones</h2>
                    <p class="uk-text-lead uk-text-muted uk-margin-remove-top">See how our company began, how we’ve grown and changed the industry.</p>
                </div>
            </div>
            <div class="uk-width-1-1">
                <div class="in-timeline-2">
                    <div class="in-timeline-item">
                        <div class="in-timeline-content uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                            <h4 class="uk-margin-remove-bottom">The company was founded</h4>
                            <span class="uk-label uk-border-rounded">November 2009</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam quis nostrud.</p>
                            <div class="uk-position-bottom-right uk-inline-clip">
                                <i class="fas fa-box-open fa-8x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="in-timeline-item">
                        <div class="in-timeline-content uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                            <h4 class="uk-margin-remove-bottom">Introduced a new service</h4>
                            <span class="uk-label uk-border-rounded">August 2012</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam quis nostrud.</p>
                            <div class="uk-position-bottom-right uk-inline-clip">
                                <i class="fas fa-layer-group fa-8x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="in-timeline-item">
                        <div class="in-timeline-content uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                            <h4 class="uk-margin-remove-bottom">Won prestigious awards</h4>
                            <span class="uk-label uk-border-rounded">June 2015</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam quis nostrud.</p>
                            <div class="uk-position-bottom-right uk-inline-clip">
                                <i class="fas fa-trophy fa-8x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="in-timeline-item">
                        <div class="in-timeline-content uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                            <h4 class="uk-margin-remove-bottom">$1 billion in annual sales</h4>
                            <span class="uk-label uk-border-rounded">March 2019</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam quis nostrud.</p>
                            <div class="uk-position-bottom-right uk-inline-clip">
                                <i class="fas fa-chart-line fa-8x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->