<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-child-width-1-3@m uk-text-center" data-uk-grid>
            <div>
                <blockquote>
                    <p class="uk-margin-bottom in-margin-remove-bottom@s">This is my one stop shop for sending all Updates to investors, board of directors or even exec team members.</p>
                    <img class="uk-border-pill uk-background-muted uk-margin-top in-margin-small-top@s" src="{{root}}img/blockit/in-team-6.png" alt="client-pic" width="80" height="80">
                    <footer>Melvin Cortez<br><cite>Cloud Architect at stormpath</cite></footer>
                </blockquote>
            </div>
            <div>
                <blockquote>
                    <p class="uk-margin-bottom in-margin-remove-bottom@s">Has been a great tool for me on monthly updates & helps to communicate the key issues/plan with our team.</p>
                    <img class="uk-border-pill uk-background-muted uk-margin-top in-margin-small-top@s" src="{{root}}img/blockit/in-team-8.png" alt="client-pic" width="80" height="80">
                    <footer>Franklin Clark<br><cite>Sales Analyst at eventbrite</cite></footer>
                </blockquote>
            </div>
            <div>
                <blockquote>
                    <p class="uk-margin-bottom in-margin-remove-bottom@s">Really love the product! It saves so much time and helps a lot in organize our feedback. Very huge potential.</p>
                    <img class="uk-border-pill uk-background-muted uk-margin-top in-margin-small-top@s" src="{{root}}img/blockit/in-team-3.png" alt="client-pic" width="80" height="80">
                    <footer>Gabrielle Barger<br><cite>Help Desk at pushbullet</cite></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->