<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-1-2@m uk-text-center">
                <h2 class="uk-margin-small-top">Blockit is really awesome, seriously</h2>
                <p class="uk-margin-top">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
            </div>
            <div class="uk-width-1-1@m">
                <div class="uk-grid uk-grid-small uk-child-width-1-3@m uk-margin-medium-top" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small transparent uk-margin-small-right">
                                <i class="fab fa-html5 fa-lg"></i>
                            </div>
                            <div>
                                <h5 class="uk-margin-remove">Built with HTML 5</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small transparent uk-margin-small-right">
                                <i class="fab fa-css3-alt fa-lg"></i>
                            </div>
                            <div>
                                <h5 class="uk-margin-remove">Built with CSS 3</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small transparent uk-margin-small-right">
                                <i class="fab fa-js fa-lg"></i>
                            </div>
                            <div>
                                <h5 class="uk-margin-remove">Built with Javascript</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small transparent uk-margin-small-right">
                                <i class="fab fa-uikit fa-lg"></i>
                            </div>
                            <div>
                                <h5 class="uk-margin-remove">Built with UIkit 3</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small transparent uk-margin-small-right">
                                <i class="fab fa-sass fa-lg"></i>
                            </div>
                            <div>
                                <h5 class="uk-margin-remove">Built with Sass</h5>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-body uk-card-small uk-card-default uk-border-rounded uk-flex uk-flex-middle">
                            <div class="in-icon-wrap small transparent uk-margin-small-right">
                                <i class="fab fa-gulp fa-lg"></i>
                            </div>
                            <div>
                                <h5 class="uk-margin-remove">Built with Gulp</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->