<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
            <div class="uk-width-1-2@m">
                <img class="uk-align-center" src="{{root}}img/blockit/in-blob-3.svg" alt="image-blob">
            </div>
            <div class="uk-width-1-2@m">
                <div class="uk-flex uk-flex-left uk-margin-medium">
                    <div class="in-icon-wrap large transparent uk-margin-small-top uk-margin-medium-right">
                        <i class="fas fa-book fa-5x"></i>
                    </div>
                    <div>
                        <h3>Feature heading</h3>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborum.</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-left uk-margin-medium">
                    <div class="in-icon-wrap large transparent uk-margin-small-top uk-margin-medium-right">
                        <i class="fas fa-cubes fa-5x"></i>
                    </div>
                    <div>
                        <h3>Feature heading</h3>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborum.</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-left uk-margin-medium">
                    <div class="in-icon-wrap large transparent uk-margin-small-top uk-margin-medium-right">
                        <i class="fas fa-birthday-cake fa-5x"></i>
                    </div>
                    <div>
                        <h3>Feature heading</h3>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->