<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-3@m" data-uk-grid>
            <div>
                <h1 class="uk-margin-remove">
                    <span class="count" data-counter-end="500" data-counter-append="+">0</span>
                </h1>
                <span class="uk-label uk-border-rounded">Teams</span>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus eveniet.</p>
            </div>
            <div>
                <h1 class="uk-margin-remove">
                    <span class="count" data-counter-end="35" data-counter-append="%">0%</span>
                </h1>
                <span class="uk-label uk-border-rounded">Time reduction</span>
                <p>Consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt quisquam.</p>
            </div>
            <div>
                <h1 class="uk-margin-remove">
                    <span class="count" data-counter-end="25" data-counter-append="%">0%</span>
                </h1>
                <span class="uk-label uk-border-rounded">Cost Reduction</span>
                <p>Exercitationem ullam corporis suscipi laborio nisi aliquid exmeat commodi consequatur.</p>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->