<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-divider uk-child-width-1-2@m" data-uk-grid>
            <div>
                <p>Driven, motivated people who believe that personal engagement, a sense of ownership, and a commitment to investing gives them control over their financial futures</p>
                <ul class="uk-list uk-list-disc">
                    <li>Approximately 1,200 financial consultants</li>
                    <li>$117.9 billion enrolled in advisory solutions</li>
                    <li>100,000+ financial plans provided to date</li>
                </ul>
            </div>
            <div>
                <h3>We're always looking for talent</h3>
                <p>Got what it takes to work with us? Great! Send us a link to your resumé or portfolio to become part of our talent pool.</p>
                <a class="uk-button uk-button-primary uk-border-rounded" href="#">See Job Openings</a>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->