<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-1-2@m">
                <div class="uk-text-center">
                    <h1>Contact Us</h1>
                    <p class="uk-margin-top">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
                </div>
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-margin-medium-top">
                    <form id="contact-form" class="uk-form uk-grid-small uk-padding-small" data-uk-grid>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label">Full name</label>
                            <input class="uk-input uk-border-rounded" id="name" name="name" type="text" placeholder="">
                        </div>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label">Email address</label>
                            <input class="uk-input uk-border-rounded" id="email" name="email" type="email" placeholder="">
                        </div>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label">Subject</label>
                            <input class="uk-input uk-border-rounded" id="subject" name="subject" type="text" placeholder="">
                        </div>
                        <div class="uk-width-1-1">
                            <label class="uk-form-label">Message</label>
                            <textarea class="uk-textarea uk-border-rounded" id="message" name="message" rows="6" placeholder=""></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-button uk-button-primary uk-border-rounded" id="sendemail" type="submit" name="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->