<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large" data-uk-grid>
            <div class="uk-width-1-2@m">
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                    <div class="uk-padding-small">
                        <h2>Do not hesitate to reach out just fill in the contact form.</h2>
                        <p class="uk-text-lead uk-text-muted">We’ll be sure to reply as fast as possible</p>
                        <hr class="uk-margin-medium">
                        <div class="uk-flex uk-flex-middle uk-margin">
                            <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                                <i class="fas fa-map-marker-alt fa-sm"></i>
                            </div>
                            <div>
                                <p class="uk-margin-remove">Satrio Tower 16th, Jl. Dr Satrio Kuningan, Jakarta</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle uk-margin">
                            <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                                <i class="fas fa-clock fa-sm"></i>
                            </div>
                            <div>
                                <p class="uk-margin-remove">Monday to Friday 9am - 6am</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle uk-margin">
                            <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                                <i class="fas fa-envelope fa-sm"></i>
                            </div>
                            <div>
                                <p class="uk-margin-remove">hello@company.com</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle uk-margin">
                            <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                                <i class="fas fa-phone fa-sm"></i>
                            </div>
                            <div>
                                <p class="uk-margin-remove">(888)234-5686</p>
                            </div>
                        </div>
                        <div class="uk-margin-medium-top">
                            <a href="#" class="fab fa-facebook-square fa-lg uk-text-decoration-none uk-margin-right"></a>
                            <a href="#" class="fab fa-twitter fa-lg uk-text-decoration-none uk-margin-right"></a>
                            <a href="#" class="fab fa-linkedin-in fa-lg uk-text-decoration-none uk-margin-right"></a>
                            <a href="#" class="fab fa-instagram fa-lg uk-text-decoration-none uk-margin-right"></a>
                            <a href="#" class="fab fa-pinterest fa-lg uk-text-decoration-none uk-margin-right"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m uk-flex uk-flex-middle">
                <div class="uk-margin-large-left in-margin-remove-left@s">
                    <h4 class="uk-margin-remove-bottom">Have a questions?</h4>
                    <p class="uk-margin-small-top uk-margin-medium-bottom">We are working with hundreds of business companies araound the world and delivering ideas for their business success.</p>
                    <form id="contact-form" class="uk-form uk-grid-small" data-uk-grid>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input uk-border-rounded" id="name" name="name" type="text" placeholder="Full name">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input uk-border-rounded" id="email" name="email" type="email" placeholder="Email address">
                        </div>
                        <div class="uk-width-1-1">
                            <input class="uk-input uk-border-rounded" id="subject" name="subject" type="text" placeholder="Subject">
                        </div>
                        <div class="uk-width-1-1">
                            <textarea class="uk-textarea uk-border-rounded" id="message" name="message" rows="6" placeholder="Message"></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-width-1-1 uk-button uk-button-primary uk-border-rounded" id="sendemail" type="submit" name="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->