<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m uk-text-center">
                <h1>Increase more traffic your business</h1>
                <p class="uk-text-lead uk-text-muted">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum quasi architecto</p>
                <div class="uk-grid-small uk-child-width-1-4@m uk-margin-medium-top in-counter-6" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                            <i class="fas fa-user-friends fa-2x uk-margin-remove-bottom uk-text-success"></i>
                            <h2 class="uk-text-muted uk-margin-small-top uk-margin-remove-bottom">
                                <span class="count uk-text-success" data-counter-end="1600">0</span>
                            </h2>
                            <p class="uk-text-muted uk-margin-remove-top">Active users</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                            <i class="fas fa-globe-americas fa-2x uk-margin-remove-bottom uk-text-primary"></i>
                            <h2 class="uk-text-muted uk-margin-small-top uk-margin-remove-bottom">
                                <span class="count uk-text-primary" data-counter-end="2500">0</span>
                            </h2>
                            <p class="uk-text-muted uk-margin-remove-top">Global clients</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                            <i class="fas fa-award fa-2x uk-margin-remove-bottom uk-text-warning"></i>
                            <h2 class="uk-text-muted uk-margin-small-top uk-margin-remove-bottom">
                                <span class="count uk-text-warning" data-counter-end="1300">0</span>
                            </h2>
                            <p class="uk-text-muted uk-margin-remove-top">Win awards</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                            <i class="fas fa-heart fa-2x uk-margin-remove-bottom uk-text-danger"></i>
                            <h2 class="uk-text-muted uk-margin-small-top uk-margin-remove-bottom">
                                <span class="count uk-text-danger" data-counter-end="2300">0</span>
                            </h2>
                            <p class="uk-text-muted uk-margin-remove-top">Happy clients</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->