<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-2-3@m">
                <div class="uk-child-width-1-2@m" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-border-rounded">
                            <div class="uk-card-body">
                                <h4 class="uk-margin-remove-bottom">Some cool tagline</h4>
                                <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat proident in culpa qui officia deserunt mollit anim aliquip laborum.</p>
                            </div>
                            <div class="uk-card-media-bottom uk-text-center">
                                <img src="{{root}}img/blockit/in-card-image-3.png" alt="sample-image">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-border-rounded">
                            <div class="uk-card-media-top uk-text-center">
                                <img src="{{root}}img/blockit/in-card-image-4.png" alt="sample-image">
                            </div>
                            <div class="uk-card-body">
                                <h4 class="uk-margin-remove-bottom">Some cool tagline</h4>
                                <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat proident in culpa qui officia deserunt mollit anim aliquip laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->