<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large" data-uk-grid>
            <div class="uk-width-expand@m">
                <h3 class="uk-text-muted uk-margin-remove-bottom">How this work</h3>
                <h1 class="uk-margin-small-top">Blockit heading 1 feature</h1>
                <p>Lorem ipsum dolor sit amet consectet adipiscing elite sed do eiusmod tempor incididunt dolore magna adipisci sed quia numquam eius modi tempora.</p>
                <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-margin-top">Learn more</a>
            </div>
            <div class="uk-width-3-5@m">
                <div class="uk-grid uk-child-width-1-2@m" data-uk-grid>
                    <div>
                        <div class="in-icon-wrap">
                            <i class="fas fa-shipping-fast fa-lg"></i>
                        </div>
                        <h3 class="uk-margin-top">Feature heading</h3>
                        <p>Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodir</p>
                    </div>
                    <div>
                        <div class="in-icon-wrap">
                            <i class="fas fa-rocket fa-lg"></i>
                        </div>
                        <h3 class="uk-margin-top">Feature heading</h3>
                        <p>Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodir</p>
                    </div>
                    <div>
                        <div class="in-icon-wrap">
                            <i class="fas fa-user-secret fa-lg"></i>
                        </div>
                        <h3 class="uk-margin-top">Feature heading</h3>
                        <p>Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodir</p>
                    </div>
                    <div>
                        <div class="in-icon-wrap">
                            <i class="fas fa-shopping-basket fa-lg"></i>
                        </div>
                        <h3 class="uk-margin-top">Feature heading</h3>
                        <p>Exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodir</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->