<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-child-width-1-3@m uk-text-center" data-uk-grid>
            <div class="uk-width-1-1@m">
                <h1 class="uk-margin-bottom">Pricing plan</h1>
            </div>
            <div class="in-pricing-5">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-card-badge uk-label">
                            <h6 class="uk-margin-remove-bottom">Basic</h6>   
                        </div>
                        <h4 class="uk-heading-medium uk-margin-remove-top">
                            <span class="in-pricing-small">$</span>
                            10
                            <span class="in-pricing-month uk-text-muted">per month</span>
                        </h4>
                        <hr>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list uk-margin-bottom">
                            <li>Free Membership</li>
                            <li>30GB Storage</li>
                            <li>1 Personal Email</li>
                        </ul>
                        <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-top">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="in-pricing-5 in-pricing-featured">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-card-badge uk-label">
                            <h6 class="uk-margin-remove-bottom">Premium</h6>   
                        </div>
                        <h4 class="uk-heading-medium uk-margin-remove-top">
                            <span class="in-pricing-small">$</span>
                            25
                            <span class="in-pricing-month uk-text-muted">per month</span>
                        </h4>
                        <hr>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list uk-margin-bottom">
                            <li>Premium Membership</li>
                            <li>120GB Storage</li>
                            <li>20 Personal Email</li>
                        </ul>
                        <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-margin-top">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="in-pricing-5">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header">
                        <div class="uk-card-badge uk-label">
                            <h6 class="uk-margin-remove-bottom">Enterprise</h6>   
                        </div>
                        <h4 class="uk-heading-medium uk-margin-remove-top">
                            <span class="in-pricing-small">$</span>
                            60
                            <span class="in-pricing-month uk-text-muted">per month</span>
                        </h4>
                        <hr>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list uk-margin-bottom">
                            <li>VIP Membership</li>
                            <li>Unlimited Storage</li>
                            <li>Unlimited Personal Email</li>
                        </ul>
                        <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-top">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->