<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
            <div class="uk-width-1-2@m">
                <h1>Blockit heading 1 feature</h1>
                <p class="uk-text-lead">Lorem ipsum dolor sit amet consectet adipiscing elite, sed do eiusmod tempor incididunt laboremi dolore magna aliqua quia numquam eius modi.</p>
                <div class="uk-flex uk-flex-left uk-margin-medium">
                    <div>
                        <h3>Feature heading</h3>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborum.</p>
                    </div>
                    <div class="in-icon-wrap large transparent uk-margin-small-top uk-margin-medium-left">
                        <i class="fas fa-landmark fa-5x"></i>
                    </div>
                </div>
                <div class="uk-flex uk-flex-left uk-margin-medium">
                    <div>
                        <h3>Feature heading</h3>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim laborum.</p>
                    </div>
                    <div class="in-icon-wrap large transparent uk-margin-small-top uk-margin-medium-left">
                        <i class="fas fa-hourglass-half fa-5x"></i>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m">
                <img class="uk-align-center" src="{{root}}img/blockit/in-blob-4.svg" alt="image-blob">
            </div>
        </div>
    </div>
</div>
<!-- section content end -->