<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-child-width-1-2@m uk-flex uk-flex-middle" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                    <div class="uk-padding-small">
                        <h2 class="uk-margin-remove-bottom uk-text-center">Send us a message</h2>
                        <p class="uk-margin-small-top uk-margin-medium-bottom uk-text-center">Feel free to reach us if you need any assistance.</p>
                        <form id="contact-form" class="uk-form uk-grid-small uk-margin-bottom" data-uk-grid>
                            <div class="uk-width-1-1">
                                <input class="uk-input uk-border-rounded" id="name" name="name" type="text" placeholder="Full name">
                            </div>
                            <div class="uk-width-1-1">
                                <input class="uk-input uk-border-rounded" id="email" name="email" type="email" placeholder="Email address">
                            </div>
                            <div class="uk-width-1-1">
                                <input class="uk-input uk-border-rounded" id="subject" name="subject" type="text" placeholder="Subject">
                            </div>
                            <div class="uk-width-1-1">
                                <textarea class="uk-textarea uk-border-rounded" id="message" name="message" rows="6" placeholder="Message"></textarea>
                            </div>
                            <div class="uk-width-1-1">
                                <button class="uk-width-1-1 uk-button uk-button-primary uk-border-rounded" id="sendemail" type="submit" name="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-margin-medium-left in-margin-remove-left@s">
                    <h1>Contact us</h1>
                    <iframe class="uk-width-1-1 uk-height-medium uk-border-rounded"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7496.556775569473!2d144.95479118909844!3d-37.81548660764023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sbd!4v1562002563953!5m2!1sen!2sbd">
                    </iframe>
                    <div class="uk-grid uk-child-width-1-3@m uk-margin-top" data-uk-grid>
                        <div>
                            <h5 class="uk-margin-remove-bottom">Address</h5>
                            <p class="uk-text-small uk-margin-small-top">Satrio Tower 16th, Jl. Dr Satrio Kuningan, Jakarta</p>
                        </div>
                        <div>
                            <h5 class="uk-margin-remove-bottom">Information</h5>
                            <p class="uk-text-small uk-margin-small-top">hello@company.com<br>(888)234-5686</p>
                        </div>
                        <div>
                            <h5 class="uk-margin-remove-bottom">Socials media</h5>
                            <div class="uk-margin-small-top">
                                <a href="#" class="fab fa-facebook-square uk-text-decoration-none uk-margin-small-right"></a>
                                <a href="#" class="fab fa-twitter uk-text-decoration-none uk-margin-small-right"></a>
                                <a href="#" class="fab fa-linkedin-in uk-text-decoration-none uk-margin-small-right"></a>
                                <a href="#" class="fab fa-instagram uk-text-decoration-none uk-margin-small-right"></a>
                                <a href="#" class="fab fa-pinterest uk-text-decoration-none uk-margin-small-right"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->