<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-1-2@m uk-text-center">
                <h5 class="uk-text-uppercase uk-text-primary uk-margin-remove-bottom">small tagline</h5>
                <h2 class="uk-margin-small-top">Blockit heading 2 is here and this is really awesome, seriously</h2>
                <p class="uk-margin-medium-top">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis quasi architecto beatae dicta explicabo.</p>
            </div>
            <div class="uk-width-3-4@m">
                <div class="uk-grid uk-child-width-1-5@m uk-margin-large-top uk-text-center" data-uk-grid>
                    <div>
                        <div class="in-icon-wrap large uk-margin-auto">
                            <i class="fas fa-chart-pie fa-2x"></i>
                        </div>
                        <h5 class="uk-margin-top">Feature one</h5>
                    </div>
                    <div>
                        <div class="in-icon-wrap large uk-margin-auto">
                            <i class="fas fa-fire-alt fa-2x"></i>
                        </div>
                        <h5 class="uk-margin-top">Feature two</h5>
                    </div>
                    <div>
                        <div class="in-icon-wrap large uk-margin-auto">
                            <i class="fas fa-globe-americas fa-2x"></i>
                        </div>
                        <h5 class="uk-margin-top">Feature three</h5>
                    </div>
                    <div>
                        <div class="in-icon-wrap large uk-margin-auto">
                            <i class="fas fa-leaf fa-2x"></i>
                        </div>
                        <h5 class="uk-margin-top">Feature four</h5>
                    </div>
                    <div>
                        <div class="in-icon-wrap large uk-margin-auto">
                            <i class="fas fa-pizza-slice fa-2x"></i>
                        </div>
                        <h5 class="uk-margin-top">Feature five</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->