<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large" data-uk-grid>
            <div class="uk-width-1-2@m">
                <h1>Blockit heading 1 feature</h1>
                <p class="uk-text-lead">Lorem ipsum dolor sit amet consectet adipiscing elite sed do eiusmod tempor incididunt. Laboremi dolore magna aliqua adipisci sed quia numquam eius modi tempora incidunt ut labore.</p>
                <div class="uk-grid uk-child-width-1-2@m uk-margin-large-top" data-uk-grid>
                    <div>
                        <h3>Feature heading</h3>
                        <p>Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                    <div>
                        <h3>Feature heading</h3>
                        <p>Duis aute irure dolor reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m">
                <img src="{{root}}img/blockit/in-blob-1.svg" alt="image-blob">
            </div>
        </div>
    </div>
</div>
<!-- section content end -->