<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-large" data-uk-grid>
            <div class="uk-width-1-2@m">
                <ul class="in-faq-4" data-uk-accordion="collapsible: false">
                    <li class="uk-open uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                        <a class="uk-accordion-title" href="#">How long is trial period exactly?</a>
                        <div class="uk-accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </li>
                    <li class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                        <a class="uk-accordion-title" href="#">How do i get started with this product?</a>
                        <div class="uk-accordion-content">
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat excepteur sint occaecat.</p>
                        </div>
                    </li>
                    <li class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                        <a class="uk-accordion-title" href="#">How does the transfer work?</a>
                        <div class="uk-accordion-content">
                            <p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga incididunt ut labore.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="uk-width-1-2@m">
                <h2 class="uk-margin-medium-top">Frequently asked questions</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, eiusmod tempor quis nostrud
                    exercitation.</p>
                <div class="uk-flex uk-flex-middle">
                    <div class="in-icon-wrap circle uk-margin-small-right">
                        <i class="fas fa-question fa-lg"></i>
                    </div>
                    <a href="#" class="uk-button uk-button-link">View another FAQ <i class="fas fa-chevron-right fa-xs uk-margin-small-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->