<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@m in-testimonial-2" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-left">
                        <div class="uk-margin-medium-right">
                            <div class="uk-background-muted uk-border-rounded">
                                <img class="uk-align-center" src="{{root}}img/blockit/in-team-1.png" alt="client-testimoni" width="190">
                            </div>
                        </div>
                        <div>
                            <blockquote class="uk-margin-remove-bottom">
                                <p class="uk-margin-bottom">Quick, easy, and super helpful to collect and organise feedback from all kinds of channels we use to communicate with our customers.</p>
                                <footer>Nina van Adrichem<br><cite>Designer at GWT</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-left">
                        <div class="uk-margin-medium-right">
                            <div class="uk-background-muted uk-border-rounded">
                                <img class="uk-align-center" src="{{root}}img/blockit/in-team-9.png" alt="client-testimoni" width="190">
                            </div>
                        </div>
                        <div>
                            <blockquote class="uk-margin-remove-bottom">
                                <p class="uk-margin-bottom">The extension makes collecting feedback so much easier! Shipright then really helps us make decisions based on the data we collected.</p>
                                <footer>Marcel Wundrich<br><cite>Manager at Semaphore</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->