<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-5@m in-counter-1">
                <span class="uk-label uk-border-rounded uk-margin-remove-bottom">cool stats</span>
                <p class="uk-text-lead">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
                <div class="uk-child-width-1-3@m uk-margin-medium-top" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large uk-border-rounded">
                            <h2 class="uk-margin-remove-bottom">
                                <span class="count" data-counter-end="10" data-counter-append=" k">0 k</span>
                            </h2>
                            <p class="uk-text-muted uk-margin-remove-top">Customers</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large uk-border-rounded">
                            <h2 class="uk-margin-remove-bottom">
                                <span class="count" data-counter-end="53" data-counter-append=" k">0 k</span>
                            </h2>
                            <p class="uk-text-muted uk-margin-remove-top">Downloads</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large uk-border-rounded">
                            <h2 class="uk-margin-remove-bottom">
                                <span class="count" data-counter-end="98" data-counter-append=" %">0 %</span>
                            </h2>
                            <p class="uk-text-muted uk-margin-remove-top">Happy users</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->