<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
            <div class="uk-width-expand@m">
                <span class="uk-label uk-border-rounded uk-margin-remove-bottom">Why choose us</span>
                <p class="uk-text-lead">Adipisci sed quia numquam eius modi tempora incidunt ut labore dolore.</p>
                <ul class="uk-list uk-list-disc uk-margin-medium-top">                    
                    <li>Built with customization and ease-of-use at its core</li>
                    <li>Quality design and thoughfully crafted code</li>
                </ul>
            </div>
            <div class="uk-width-3-5@m">
                <div class="uk-margin-large-left in-margin-remove-left@s">
                    <div class="uk-grid-medium uk-child-width-1-2@m in-counter-4" data-uk-grid="masonry: true">
                        <div>
                            <div class="uk-card uk-card-primary uk-card-body uk-border-rounded uk-text-center uk-box-shadow-medium">
                                <h2 class="uk-heading-small uk-margin-small-top uk-margin-remove-bottom">
                                    <span class="count" data-counter-end="10" data-counter-append=" k">0 k</span>
                                </h2>
                                <p class="uk-text-muted uk-margin-remove-top uk-margin-small-bottom">Customers</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-text-center uk-box-shadow-medium uk-margin-large-top in-margin-remove-top@s">
                                <h2 class="uk-heading-small uk-margin-small-top uk-margin-remove-bottom">
                                    <span class="count" data-counter-end="98" data-counter-append=" %">0 %</span>
                                </h2>
                                <p class="uk-text-muted uk-margin-remove-top uk-margin-small-bottom">Happy clients</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-text-center uk-box-shadow-medium">
                                <h2 class="uk-heading-small uk-margin-small-top uk-margin-remove-bottom">
                                    <span class="count" data-counter-end="50" data-counter-append=" k">0 k</span>
                                </h2>
                                <p class="uk-text-muted uk-margin-remove-top uk-margin-small-bottom">Downloads</p>
                            </div>
                        </div>
                        <div>
                            <div class="uk-card uk-card-primary uk-card-body uk-border-rounded uk-text-center uk-box-shadow-medium">
                                <h2 class="uk-heading-small uk-margin-small-top uk-margin-remove-bottom">
                                    <span class="count" data-counter-end="12" data-counter-append=" m">0 m</span>
                                </h2>
                                <p class="uk-text-muted uk-margin-remove-top uk-margin-small-bottom">Page views</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->