<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <div data-uk-grid>
                    <div class="uk-width-1-2@s uk-width-2-3@m">
                        <p class="uk-text-large">We help our customers engage investors so their companies can grow</p>
                        <p>Our customers look to us as guides, and we weave our deep legal and technical experience into our software and services.</p>
                    </div>
                    <div class="uk-width-1-2@s uk-width-expand@m">
                        <ul class="uk-list uk-list-divider uk-margin-small-top">
                            <li>
                                <div class="uk-flex uk-flex-middle">
                                    <div class="in-icon-wrap uk-margin-right">
                                        <i class="fas fa-paper-plane fa-lg"></i>
                                    </div>
                                    <div>
                                        <h3 class="uk-margin-remove-bottom">35,817</h3>
                                        <span class="uk-label uk-text-small uk-border-rounded">Business launch</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="uk-flex uk-flex-middle">
                                    <div class="in-icon-wrap uk-margin-right">
                                        <i class="fas fa-user-tie fa-lg"></i>
                                    </div>
                                    <div>
                                        <h3 class="uk-margin-remove-bottom">4,400</h3>
                                        <span class="uk-label uk-text-small uk-border-rounded">Investor engaged</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->