<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@m in-testimonial-6" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <h4>Great tools for everybody's</h4>
                    <blockquote>
                        <p class="uk-margin-bottom">Lorem ipsum dolor sit amet consectetur adipiscing elit nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat sed do eiusmod tempor incididunt.</p>
                        <div class="uk-flex uk-flex-left" data-uk-grid>
                            <div class="uk-width-1-1 uk-width-expand@m">
                                <img class="uk-border-pill uk-background-muted uk-margin-small-top uk-margin-right uk-float-left" src="{{root}}img/blockit/in-team-7.png" alt="client-pic" width="44" height="44">
                                <footer>Richard Garcia<br><cite>Brand Manager at AppDynamics</cite></footer>
                            </div>
                            <div class="uk-width-1-1 uk-width-auto@m uk-float-right">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <h4>Friendly customer support</h4>
                    <blockquote>
                        <p class="uk-margin-bottom">Nemo enim ipsam voluptatem quia voluptas aspernatur sitaut odit aut fugit sed quia consequuntur magni dolores eos qui velit ratione voluptatem sequi nesciunt.</p>
                        <div class="uk-flex uk-flex-left" data-uk-grid>
                            <div class="uk-width-1-1 uk-width-expand@m">
                                <img class="uk-border-pill uk-background-muted uk-margin-small-top uk-margin-right uk-float-left" src="{{root}}img/blockit/in-team-1.png" alt="client-pic" width="44" height="44">
                                <footer>Kristine Rooney<br><cite>Risk Manager at Brandfolder</cite></footer>
                            </div>
                            <div class="uk-width-1-1 uk-width-auto@m uk-float-right">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->