<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-2@m">
                <div class="uk-card uk-card-default uk-border-rounded uk-grid-collapse" data-uk-grid>
                    <div class="uk-width-auto@m uk-card-media-left uk-flex uk-flex-middle">
                        <img class="uk-margin-top uk-margin-bottom" src="{{root}}img/blockit/in-card-image-1.png" alt="sample-image">
                    </div>
                    <div class="uk-width-expand@m uk-flex uk-flex-middle">
                        <div class="uk-card-body">
                            <h4 class="uk-margin-remove-bottom">Some cool tagline</h4>
                            <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim aliquip irure est laborum.</p>
                        </div>
                    </div>
                </div>        
            </div>
            <div class="uk-width-1-2@m">
                <div class="uk-card uk-card-default uk-border-rounded uk-grid-collapse" data-uk-grid>
                    <div class="uk-width-auto@m uk-flex uk-flex-right uk-flex-last@m uk-card-media-right uk-cover-container">
                        <img class="uk-margin-top uk-margin-bottom" src="{{root}}img/blockit/in-card-image-2.png" alt="sample-image">
                    </div>
                    <div class="uk-width-expand@m uk-flex uk-flex-middle">
                        <div class="uk-card-body">
                            <h4 class="uk-margin-remove-bottom">Some cool tagline</h4>
                            <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim aliquip irure est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->