<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-3@m uk-text-center in-card-4" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-center uk-flex-middle">
                        <div>
                            <h2 class="uk-margin-remove">90%</h2>
                        </div>
                        <div class="in-icon-wrap circle small uk-margin-small-left">
                            <i class="fas fa-arrow-up fa-sm uk-text-success"></i>
                        </div>
                    </div>
                    <h4 class="uk-margin-remove-bottom">Cost effectiveness</h4>
                    <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-center uk-flex-middle">
                        <div>
                            <h2 class="uk-margin-remove">10%</h2>
                        </div>
                        <div class="in-icon-wrap circle small uk-margin-small-left">
                            <i class="fas fa-arrow-down fa-sm uk-text-danger"></i>
                        </div>
                    </div>
                    <h4 class="uk-margin-remove-bottom">Data architecture</h4>
                    <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-center uk-flex-middle">
                        <div>
                            <h2 class="uk-margin-remove">60%</h2>
                        </div>
                        <div class="in-icon-wrap circle small uk-margin-small-left">
                            <i class="fas fa-arrow-up fa-sm uk-text-success"></i>
                        </div>
                    </div>
                    <h4 class="uk-margin-remove-bottom">Data vizualitation</h4>
                    <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->\