<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-flex uk-flex-middle" data-uk-grid>
            <div class="uk-width-1-2@m">
                <div class="in-icon-wrap large transparent">
                    <i class="fab fa-github fa-5x"></i>
                </div>
                <h1>Blockit heading 1</h1>
                <p class="uk-text-lead">Lorem ipsum dolor amet consectet adipiscing elite sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="uk-width-1-2@m">
                <img class="uk-align-center" src="{{root}}img/blockit/in-blob-2.svg" alt="image-blob">
            </div>
        </div>
    </div>
</div>
<!-- section content end -->