<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-3@m in-card-4" data-uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-left">
                        <div class="in-icon-wrap small transparent uk-margin-small-right">
                            <i class="fas fa-chess-knight fa-2x"></i>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Feature heading</h4>
                            <p class="uk-margin-small-top uk-margin-remove-bottom">Nostrum exercitationem ullam corporis suscipit reprehen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-left">
                        <div class="in-icon-wrap small transparent uk-margin-small-right">
                            <i class="fas fa-fire fa-2x"></i>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Feature heading</h4>
                            <p class="uk-margin-small-top uk-margin-remove-bottom">Nostrum exercitationem ullam corporis suscipit reprehen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-left">
                        <div class="in-icon-wrap small transparent uk-margin-small-right">
                            <i class="fas fa-leaf fa-2x"></i>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Feature heading</h4>
                            <p class="uk-margin-small-top uk-margin-remove-bottom">Nostrum exercitationem ullam corporis suscipit reprehen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-left">
                        <div class="in-icon-wrap small transparent uk-margin-small-right">
                            <i class="fas fa-paper-plane fa-2x"></i>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Feature heading</h4>
                            <p class="uk-margin-small-top uk-margin-remove-bottom">Nostrum exercitationem ullam corporis suscipit reprehen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-left">
                        <div class="in-icon-wrap small transparent uk-margin-small-right">
                            <i class="fas fa-cog fa-2x"></i>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Feature heading</h4>
                            <p class="uk-margin-small-top uk-margin-remove-bottom">Nostrum exercitationem ullam corporis suscipit reprehen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-flex uk-flex-left">
                        <div class="in-icon-wrap small transparent uk-margin-small-right">
                            <i class="fas fa-graduation-cap fa-2x"></i>
                        </div>
                        <div>
                            <h4 class="uk-margin-remove-bottom">Feature heading</h4>
                            <p class="uk-margin-small-top uk-margin-remove-bottom">Nostrum exercitationem ullam corporis suscipit reprehen</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->