<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m in-card-3">
                <div class="uk-card uk-card-default uk-box-shadow-small uk-border-rounded uk-grid-collapse" data-uk-grid>
                    <div class="uk-width-2-5@m uk-flex-last@m uk-card-media-right uk-cover-container">
                        <img class="uk-margin-remove-bottom" src="{{root}}img/blockit/in-card-image-7.jpg" alt="sample-image">
                    </div>
                    <div class="uk-width-expand@m uk-flex uk-flex-middle">
                        <div class="uk-card-body">
                            <h2>Blockit heading 2 feature <span class="uk-text-muted">this is second row</span></h2>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos quidem rerum facilis ratione.</p>
                            <div class="uk-column-1-2@m uk-margin-medium-top">
                                <ul class="uk-list uk-list-disc">
                                    <li>List item 1</li>
                                    <li>List item 2</li>
                                </ul>
                                <ul class="uk-list uk-list-disc">
                                    <li>List item 3</li>
                                    <li>List item 4</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->