<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <div class="uk-card uk-card-secondary uk-card-body uk-border-rounded">
                    <div class="uk-grid-divider uk-child-width-1-2@m" data-uk-grid>
                        <div>
                            <i class="fas fa-chart-pie fa-3x"></i>
                            <h3 class="uk-margin-top uk-margin-remove-bottom">Budgets reporting</h3>
                            <p>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis voluptas assumenda estrerum voluptatibus.</p>
                            <a class="uk-button uk-button-primary uk-border-rounded uk-margin-top" href="#">Request more info <i class="fas fa-angle-right fa-sm uk-margin-small-left"></i></a>
                        </div>
                        <div>
                            <i class="fas fa-file-alt fa-3x"></i>
                            <h3 class="uk-margin-top uk-margin-remove-bottom">Enterprise solution</h3>
                            <p>Omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint etnon molestiae.</p>
                            <a class="uk-button uk-button-primary uk-border-rounded uk-margin-top" href="#">Request more info <i class="fas fa-angle-right fa-sm uk-margin-small-left"></i></a>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->