<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large in-contact-1" data-uk-grid>
            <div class="uk-width-1-2@m">
                <div class="uk-margin-medium-right in-margin-remove-right@s">
                    <h4 class="uk-margin-remove-bottom uk-text-muted">Have a questions?</h4>
                    <h1 class="uk-margin-small-top">Let's get in touch</h1>
                    <form id="contact-form" class="uk-form uk-grid-small" data-uk-grid>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input uk-border-rounded" id="name" name="name" type="text" placeholder="Full name">
                        </div>
                        <div class="uk-width-1-2@s">
                            <input class="uk-input uk-border-rounded" id="email" name="email" type="email" placeholder="Email address">
                        </div>
                        <div class="uk-width-1-1">
                            <input class="uk-input uk-border-rounded" id="subject" name="subject" type="text" placeholder="Subject">
                        </div>
                        <div class="uk-width-1-1">
                            <textarea class="uk-textarea uk-border-rounded" id="message" name="message" rows="6" placeholder="Message"></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-width-1-1 uk-button uk-button-primary uk-border-rounded" id="sendemail" type="submit" name="submit">Send Message</button>
                        </div>
                    </form>
                    <div class="uk-card uk-card-small uk-card-default uk-card-body uk-border-rounded uk-margin-medium-top">
                        <div class="uk-flex uk-flex-middle">
                            <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                                <i class="fas fa-map-marker-alt fa-sm"></i>
                            </div>
                            <div>
                                <p class="uk-margin-remove">Satrio Tower 16th, Jl. Dr Satrio Kuningan, Jakarta</p>
                            </div>
                        </div>
                        <div class="uk-child-width-1-2@m uk-margin-top" data-uk-grid>
                            <div>
                                <div class="uk-flex uk-flex-middle">
                                    <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                                        <i class="fas fa-envelope fa-sm"></i>
                                    </div>
                                    <div>
                                        <p class="uk-margin-remove">hello@company.com</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="uk-flex uk-flex-middle">
                                    <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                                        <i class="fas fa-phone fa-sm"></i>
                                    </div>
                                    <div>
                                        <p class="uk-margin-remove">(888)234-5686</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m">
                <iframe class="uk-width-1-1 uk-height-1-1 uk-border-rounded"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7496.556775569473!2d144.95479118909844!3d-37.81548660764023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sbd!4v1562002563953!5m2!1sen!2sbd">
                </iframe>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->