<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m in-team-3">
                <h2 class="uk-text-center">Our leadership</h2>
                <p class="uk-text-center">Officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae, sint et molestiae asperiores repellat recusandae officiis debitis aut rerum sapiente delectus aut reiciendis.</p>
                <div class="uk-child-width-1-3@m uk-margin-large-top" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-small uk-border-rounded uk-text-center">
                            <img class="uk-border-pill uk-background-muted" src="{{root}}img/blockit/in-team-1.png" alt="image-team" width="140" height="140">
                            <h4 class="uk-margin-small-top uk-margin-remove-bottom">Cynthia Dixon</h4>
                            <span class="uk-label uk-text-small uk-border-rounded uk-margin-small-top uk-margin-small-bottom">Chief Executive Officer</span>
                            <p>Omnis voluptas assumenda omnis dolor repellendus</p>
                            <div>
                                <a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
                                <a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
                                <a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-small uk-border-rounded uk-text-center">
                            <img class="uk-border-pill uk-background-muted" src="{{root}}img/blockit/in-team-4.png" alt="image-team" width="140" height="140">
                            <h4 class="uk-margin-small-top uk-margin-remove-bottom">Bryan Greene</h4>
                            <span class="uk-label uk-text-small uk-border-rounded uk-margin-small-top uk-margin-small-bottom">Human Resources</span>
                            <p>Omnis voluptas assumenda omnis dolor repellendus</p>
                            <div>
                                <a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
                                <a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
                                <a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-small uk-card-body uk-box-shadow-small uk-border-rounded uk-text-center">
                            <img class="uk-border-pill uk-background-muted" src="{{root}}img/blockit/in-team-2.png" alt="image-team" width="140" height="140">
                            <h4 class="uk-margin-small-top uk-margin-remove-bottom">Arthur Parker</h4>
                            <span class="uk-label uk-text-small uk-border-rounded uk-margin-small-top uk-margin-small-bottom">Executive Assistant</span>
                            <p>Omnis voluptas assumenda omnis dolor repellendus</p>
                            <div>
                                <a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
                                <a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
                                <a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->