<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large uk-child-width-1-3@m uk-text-center" data-uk-grid>
            <div>
                <h3>Feature heading</h3>
                <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid ea commodi fugiat consequatur reprehenderit</p>
                <a href="#" class="uk-button uk-button-text">more info<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
            </div>
            <div>
                <h3>Feature heading</h3>
                <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid ea commodi fugiat consequatur reprehenderit</p>
                <a href="#" class="uk-button uk-button-text">more info<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
            </div>
            <div>
                <h3>Feature heading</h3>
                <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid ea commodi fugiat consequatur reprehenderit</p>
                <a href="#" class="uk-button uk-button-text">more info<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
            </div>
            <div>
                <h3>Feature heading</h3>
                <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid ea commodi fugiat consequatur reprehenderit</p>
                <a href="#" class="uk-button uk-button-text">more info<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
            </div>
            <div>
                <h3>Feature heading</h3>
                <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid ea commodi fugiat consequatur reprehenderit</p>
                <a href="#" class="uk-button uk-button-text">more info<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
            </div>
            <div>
                <h3>Feature heading</h3>
                <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid ea commodi fugiat consequatur reprehenderit</p>
                <a href="#" class="uk-button uk-button-text">more info<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->