<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <div class="uk-grid-match uk-child-width-1-3@m in-card-11" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                            <div class="in-icon-wrap uk-margin-bottom">
                                <i class="fas fa-chart-bar fa-lg uk-text-primary"></i>
                            </div>
                            <p class="uk-text-small uk-text-uppercase uk-text-primary uk-margin-remove-bottom">Trading</p>
                            <h4 class="uk-margin-small-top">Powerful trading tools & resources</h4>
                            <a href="#" class="uk-button uk-button-small uk-button-text uk-margin-small-top">More info<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small uk-border-rounded">
                            <div class="in-icon-wrap uk-margin-bottom">
                                <i class="fas fa-seedling fa-lg"></i>
                            </div>
                            <p class="uk-text-small uk-text-uppercase uk-margin-remove-bottom">Investing</p>
                            <h4 class="uk-margin-small-top">A wide selection of investing markets</h4>
                            <a href="#" class="uk-button uk-button-small uk-button-text uk-margin-small-top">More info<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-secondary uk-card-body uk-box-shadow-small uk-border-rounded">
                            <div class="in-icon-wrap uk-margin-bottom">
                                <i class="fas fa-handshake fa-lg"></i>
                            </div>
                            <p class="uk-text-small uk-text-uppercase uk-margin-remove-bottom">Fund advisor</p>
                            <h4 class="uk-margin-small-top">Dedicated financial consultant to help</h4>
                            <a href="#" class="uk-button uk-button-small uk-button-text uk-margin-small-top">More info<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->