<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 uk-flex uk-flex-center">
                <div class="uk-width-3-4@m uk-text-center">
                    <h2 class="uk-margin-remove-bottom">Putting our clients first since 1986</h2>
                    <p class="uk-text-lead uk-text-muted uk-margin-remove-top">For more than 30 years, we’ve been empowering clients by helping them take control of their financial lives.</p>
                </div>
            </div>
            <div class="uk-grid uk-grid-large uk-child-width-1-3@m uk-margin-medium-top" data-uk-grid>
                <div class="uk-flex uk-flex-left">
                    <div class="uk-margin-right">
                        <div class="in-icon-wrap">
                            <i class="fas fa-leaf fa-lg"></i>
                        </div>
                    </div>
                    <div>
                        <h3>Philosophy</h3>
                        <p>At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-left">
                    <div class="uk-margin-right">
                        <div class="in-icon-wrap">
                            <i class="fas fa-hourglass-end fa-lg"></i>
                        </div>
                    </div>
                    <div>
                        <h3>History</h3>
                        <p>At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                    </div>
                </div>
                <div class="uk-flex uk-flex-left">
                    <div class="uk-margin-right">
                        <div class="in-icon-wrap">
                            <i class="fas fa-flag fa-lg"></i>
                        </div>
                    </div>
                    <div>
                        <h3>Culture</h3>
                        <p>At vero eos etme accusamus iusto odio ent dignissimos deleniti atque corrupti quos ducimus moll quilla blanditiis expedita est distinctio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->