<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <h1 class="uk-text-center">Our team</h1>
                <div class="uk-grid uk-child-width-1-4@m uk-margin-large-top" data-uk-grid>
                    <div>
                        <div class="uk-background-muted uk-border-rounded">
                            <img class="uk-align-center" src="{{root}}img/blockit/in-team-1.png" alt="image-team" width="240">
                        </div>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Chief Executive Officer</p>
                        <h4 class="uk-margin-small-top">Cynthia Dixon</h4>
                        <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid ea commodi fugiat.</p>
                        <div>
                            <a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
                            <a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
                            <a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-background-muted uk-border-rounded">
                            <img class="uk-align-center" src="{{root}}img/blockit/in-team-2.png" alt="image-team" width="240">
                        </div>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Executive Assistant</p>
                        <h4 class="uk-margin-small-top">Arthur Parker</h4>
                        <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid ea commodi fugiat.</p>
                        <div>
                            <a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
                            <a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
                            <a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-background-muted uk-border-rounded">
                            <img class="uk-align-center" src="{{root}}img/blockit/in-team-3.png" alt="image-team" width="240">
                        </div>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Marketing Specialist</p>
                        <h4 class="uk-margin-small-top">Evelyn Mason</h4>
                        <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid ea commodi fugiat.</p>
                        <div>
                            <a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
                            <a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
                            <a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-background-muted uk-border-rounded">
                            <img class="uk-align-center" src="{{root}}img/blockit/in-team-6.png" alt="image-team" width="240">
                        </div>
                        <p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Account Executive</p>
                        <h4 class="uk-margin-small-top">Peter Jacobs</h4>
                        <p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid ea commodi fugiat.</p>
                        <div>
                            <a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
                            <a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
                            <a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->