<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-match" data-uk-grid>
            <div class="uk-width-1-4@m in-card-4">
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <i class="fas fa-map-marked-alt fa-3x"></i>
                    <h4 class="uk-margin-remove-bottom">Services tagline</h4>
                    <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                </div>
            </div>
            <div class="uk-width-1-4@m in-card-4">
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <i class="fas fa-pencil-ruler fa-3x"></i>
                    <h4 class="uk-margin-remove-bottom">Services tagline</h4>
                    <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                </div>
            </div>
            <div class="uk-width-1-4@m in-card-4">
                <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                    <i class="fas fa-tachometer-alt fa-3x"></i>
                    <h4 class="uk-margin-remove-bottom">Services tagline</h4>
                    <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                </div>
            </div>
            <div class="uk-width-1-4@m in-card-4">
                <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small uk-border-rounded">
                    <h4 class="uk-margin-remove-bottom">Why choose our blockit UIkit 3?</h4>
                    <p class="uk-margin-top">Except sint occaecat cupidatat non proident sunt culpa officia.</p>
                    <a href="#" class="uk-button uk-button-text uk-margin-small-top">More info<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->