<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-1-2@m uk-text-center">
                <h1 class="uk-margin-small-top">Helpful answers</h1>
                <p class="uk-margin-top">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
            </div>
            <div class="uk-width-1-1@m">
                <div class="uk-grid uk-child-width-1-2@m uk-margin-medium-top" data-uk-grid>
                    <div>
                        <ul class="in-faq-2" data-uk-accordion>
                            <li>                                
                                <a class="uk-accordion-title" href="#">
                                    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                                        <i class="fas fa-phone fa-xs"></i>How to contact with blockit team?
                                    </div>
                                </a>                                
                                <div class="uk-accordion-content uk-card uk-card-default uk-card-body uk-border-rounded">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua voluptate velit esse cillum dolore.</p>
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum quia non numquam eius modi.</p>                                   
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">
                                    <div class="uk-card uk-card-default uk-card-body uk-border-rounded uk-clearfix">
                                        <i class="fas fa-exclamation-triangle fa-xs"></i>Gulp installation failed, how to fix this issue?
                                    </div>
                                </a>
                                <div class="uk-accordion-content uk-card uk-card-default uk-card-body uk-border-rounded">
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum numquam eius tempora.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>                                    
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">
                                    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                                    <i class="fas fa-tachometer-alt fa-xs"></i>Website response taking time, how to improve?
                                    </div>
                                </a>
                                <div class="uk-accordion-content uk-card uk-card-default uk-card-body uk-border-rounded">
                                    <p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.</p>                                   
                                </div>
                            </li>                            
                        </ul>
                    </div>
                    <div>
                        <ul class="in-faq-2" data-uk-accordion>
                            <li>
                                <a class="uk-accordion-title" href="#">
                                    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                                        <i class="fas fa-box-open fa-xs"></i>New update fixed all bug and issues
                                    </div>
                                </a>
                                <div class="uk-accordion-content uk-card uk-card-default uk-card-body uk-border-rounded">                                    
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                                    <p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio cum soluta nobis est eligendi optio cumque nihil impedit placeat facere possimus.</p>                                    
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">
                                    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                                    <i class="fas fa-pencil-ruler fa-xs"></i>Can my company request custom plan?
                                    </div>
                                </a>
                                <div class="uk-accordion-content uk-card uk-card-default uk-card-body uk-border-rounded">
                                    <p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.</p>                                   
                                </div>
                            </li>
                            <li>
                                <a class="uk-accordion-title" href="#">
                                    <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                                        <i class="fas fa-cog fa-xs"></i>Can i port this template to another?
                                    </div>
                                </a>
                                <div class="uk-accordion-content uk-card uk-card-default uk-card-body uk-border-rounded">
                                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum numquam eius tempora.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>                                    
                                </div>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->