<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-1-2@m uk-text-center">
                <span class="uk-label uk-border-rounded uk-margin-remove-bottom">already with us</span>
                <h2 class="uk-margin-small-top">Trusted partners.</h2>
                <p class="uk-margin-top">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam.</p>
            </div>
            <div class="uk-width-1-1">
                <div class="uk-grid uk-child-width-1-4@m uk-margin-medium-top uk-text-center in-client-logo-4" data-uk-grid>
                    <div class="uk-tile uk-tile-default">
                        <img class="uk-margin-remove" src="{{root}}img/blockit/in-client-logo-10.svg" alt="client-logo" width="167" height="55">
                    </div>
                    <div class="uk-tile uk-tile-default">
                        <img class="uk-margin-remove" src="{{root}}img/blockit/in-client-logo-7.svg" alt="client-logo" width="167" height="55">
                    </div>
                    <div class="uk-tile uk-tile-default">
                        <img class="uk-margin-remove" src="{{root}}img/blockit/in-client-logo-8.svg" alt="client-logo" width="167" height="55">
                    </div>
                    <div class="uk-tile uk-tile-default">
                        <img class="uk-margin-remove" src="{{root}}img/blockit/in-client-logo-9.svg" alt="client-logo" width="167" height="55">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->