<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-child-width-1-3@m" data-uk-grid>
            <div class="uk-width-1-1@m">
                <h1 class="uk-margin-bottom uk-text-center">Pricing plan</h1>
            </div>
            <div class="in-pricing-4">
                <div class="uk-card uk-card-default uk-box-shadow-small">
                    <div class="uk-card-header uk-text-center">
                        <div class="in-icon-wrap uk-margin-auto uk-margin-top uk-margin-remove-bottom">
                            <i class="fas fa-paper-plane fa-lg"></i>
                        </div>
                        <h6 class="uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Basic</h6>
                        <h4 class="uk-heading-small uk-margin-remove-top">
                            <span class="in-pricing-small">$</span>
                            10
                        </h4>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet uk-margin-bottom">
                            <li>Free Membership</li>
                            <li>30GB Storage</li>
                            <li>1 Personal Email</li>
                        </ul>
                        <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top uk-margin-small-bottom uk-width-1-1">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="in-pricing-4 in-pricing-featured">
                <div class="uk-card uk-card-default uk-box-shadow-small">
                    <div class="uk-card-header uk-text-center">
                        <div class="in-icon-wrap uk-margin-auto uk-margin-top uk-margin-remove-bottom">
                            <i class="fas fa-cube fa-lg"></i>
                        </div>
                        <h6 class="uk-text-primary uk-text-uppercase uk-margin-remove-bottom">Premium</h6>
                        <h4 class="uk-heading-small uk-margin-remove-top">
                            <span class="in-pricing-small">$</span>
                            25
                        </h4>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet uk-margin-bottom">
                            <li>Premium Membership</li>
                            <li>120GB Storage</li>
                            <li>20 Personal Email</li>
                        </ul>
                        <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-margin-small-top uk-margin-small-bottom uk-width-1-1">Sign up</a>
                    </div>
                </div>
            </div>
            <div class="in-pricing-4">
                <div class="uk-card uk-card-default uk-box-shadow-small">
                    <div class="uk-card-header uk-text-center">
                        <div class="in-icon-wrap uk-margin-auto uk-margin-top uk-margin-remove-bottom">
                            <i class="fas fa-layer-group fa-lg"></i>
                        </div>
                        <h6 class="uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Enterprise</h6>
                        <h4 class="uk-heading-small uk-margin-remove-top">
                            <span class="in-pricing-small">$</span>
                            60
                        </h4>
                    </div>
                    <div class="uk-card-body">
                        <ul class="uk-list uk-list-bullet uk-margin-bottom">
                            <li>VIP Membership</li>
                            <li>Unlimited Storage</li>
                            <li>Unlimited Personal Email</li>
                        </ul>
                        <a href="#" class="uk-button uk-button-secondary uk-border-rounded uk-margin-small-top uk-margin-small-bottom uk-width-1-1">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->