<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid" data-uk-grid>
            <div class="uk-width-1-2@m">
                <div class="uk-inline uk-width-1-1 in-card-4">
                    <img class="uk-align-right uk-margin-remove-bottom" src="{{root}}img/blockit/in-card-image-5.jpg" width="380" height="420" alt="sample-image">
                    <div class="uk-position-left uk-flex uk-flex-middle uk-width-3-4 uk-width-3-5@m">
                        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                            <span class="uk-label uk-margin-remove-bottom">cool label</span>
                            <h4 class="uk-margin-small-top uk-margin-remove-bottom">Services tagline</h4>
                            <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-2@m">
                <div class="uk-inline uk-width-1-1 in-card-4">
                    <img class="uk-align-left uk-margin-remove-bottom" src="{{root}}img/blockit/in-card-image-6.jpg" width="380" height="420" alt="sample-image">
                    <div class="uk-position-right uk-flex uk-flex-middle uk-width-3-4 uk-width-3-5@m">
                        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-small uk-border-rounded">
                            <span class="uk-label uk-margin-remove-bottom">cool label</span>
                            <h4 class="uk-margin-small-top uk-margin-remove-bottom">Services tagline</h4>
                            <p class="uk-margin-small-top">Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->