<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-1-1 in-card-8">
                <div class="uk-card uk-card-body uk-box-shadow-small uk-border-rounded">
                    <div class="uk-grid uk-grid-divider uk-child-width-1-4@m uk-text-center in-margin-top@s in-margin-bottom@s" data-uk-grid>
                        <div>
                            <h2 class="uk-margin-remove-bottom">#1</h2>
                            <p class="uk-text-muted uk-margin-remove-top">for spreads^</p>
                        </div>
                        <div>
                            <h2 class="uk-margin-remove-bottom">~30ms</h2>
                            <p class="uk-text-muted uk-margin-remove-top">executions speed*</p>
                        </div>
                        <div>
                            <h2 class="uk-margin-remove-bottom">24/5</h2>
                            <p class="uk-text-muted uk-margin-remove-top">customer support</p>
                        </div>                        
                        <div>
                            <h2 class="uk-margin-remove-bottom">150+</h2>
                            <p class="uk-text-muted uk-margin-remove-top">trading instruments</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->