<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <div class="uk-grid-large uk-child-width-1-4@m uk-text-center" data-uk-grid>
                    <div>
                        <i class="fas fa-heart fa-3x"></i>
                        <h2 class="uk-text-muted uk-margin-remove-bottom">
                            <span class="count" data-counter-end="98" data-counter-append="%">0%</span>
                        </h2>
                        <p class="uk-text-muted uk-margin-small-top">Happy clients</p>
                    </div>
                    <div>
                        <i class="fas fa-clock fa-3x"></i>
                        <h2 class="uk-text-muted uk-margin-remove-bottom">
                            <span class="count" data-counter-end="365" data-counter-append="x7">0x7</span>
                        </h2>
                        <p class="uk-text-muted uk-margin-small-top">Customer support</p>
                    </div>
                    <div>
                        <i class="fas fa-images fa-3x"></i>
                        <h2 class="uk-text-muted uk-margin-remove-bottom">
                            <span class="count" data-counter-end="70" data-counter-append="+">0+</span>
                        </h2>
                        <p class="uk-text-muted uk-margin-small-top">Pre-built pages</p>
                    </div>
                    <div>
                        <i class="fas fa-layer-group fa-3x"></i>
                        <h2 class="uk-text-muted uk-margin-remove-bottom">
                            <span class="count" data-counter-end="200">0</span>
                        </h2>
                        <p class="uk-text-muted uk-margin-small-top">Fresh components</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->