<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid" data-uk-grid>
            <div class="uk-width-3-5@m">
                <h1 class="uk-margin-remove-bottom">Contact Us</h1>
                <p class="uk-text-lead uk-text-muted uk-margin-small-top">Do not hesitate to reach out. Just fill in the contact form here and we’ll be sure to reply as fast as possible.</p>
                <div class="uk-grid-divider uk-child-width-1-2@m uk-child-width-1-2@s uk-margin-medium-top" data-uk-grid>
                    <div>
                        <h4>Public relations</h4>
                        <p>For press, speaking or marketing related inquiries</p>
                        <div class="uk-flex uk-flex-middle uk-margin">
                            <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                                <i class="fas fa-envelope fa-sm"></i>
                            </div>
                            <div>
                                <p class="uk-margin-remove">public@company.com</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle uk-margin">
                            <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                                <i class="fas fa-phone fa-sm"></i>
                            </div>
                            <div>
                                <p class="uk-margin-remove">(888)234-5680</p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4>Business submissions</h4>
                        <p>For business plan submissions. Please submit using this</p>
                        <div class="uk-flex uk-flex-middle uk-margin">
                            <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                                <i class="fas fa-envelope fa-sm"></i>
                            </div>
                            <div>
                                <p class="uk-margin-remove">business@company.com</p>
                            </div>
                        </div>
                        <div class="uk-flex uk-flex-middle uk-margin">
                            <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                                <i class="fas fa-phone fa-sm"></i>
                            </div>
                            <div>
                                <p class="uk-margin-remove">(888)234-5686</p>
                            </div>
                        </div>
                    </div>
                </div>
                <h4>Contact information</h4>
                <div class="uk-flex uk-flex-middle uk-margin">
                    <div class="in-icon-wrap circle small primary-color uk-margin-small-right">
                        <i class="fas fa-map-marker-alt fa-sm"></i>
                    </div>
                    <div data-uk-lightbox>
                        <p class="uk-margin-remove">Satrio Tower 16th Fl, Jl. Prof Dr Satrio Kuningan, Jakarta <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4740.819266853735!2d9.99008871708242!3d53.550454675412404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3f9d24afe84a0263!2sRathaus!5e0!3m2!1sde!2sde!4v1499675200938"
                            data-caption="Google Maps" data-type="iframe"><span class="uk-label uk-margin-small-left uk-border-rounded">View on Map</span></a></p>
                    </div>
                </div>
            </div>
            <div class="uk-width-expand@m">
                <div class="uk-card uk-card-default uk-card-body uk-border-rounded">
                    <form id="contact-form" class="uk-form uk-grid-small uk-margin-top uk-margin-bottom" data-uk-grid>
                        <div class="uk-width-1-1">
                            <input class="uk-input uk-border-rounded" id="name" name="name" type="text" placeholder="Full name">
                        </div>                    
                        <div class="uk-width-1-1">
                            <input class="uk-input uk-border-rounded" id="email" name="email" type="email" placeholder="Email address">
                        </div>
                        <div class="uk-width-1-1">
                            <input class="uk-input uk-border-rounded" id="subject" name="subject" type="text" placeholder="Subject">
                        </div>
                        <div class="uk-width-1-1">
                            <textarea class="uk-textarea uk-border-rounded" id="message" name="message" rows="6" placeholder="Message"></textarea>
                        </div>
                        <div class="uk-width-1-1">
                            <button class="uk-width-1-1 uk-button uk-button-primary uk-border-rounded" id="sendemail" type="submit" name="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->