<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <h4 class="uk-text-primary uk-margin-remove-bottom">What is this</h4>
                <h1 class="uk-margin-small-top uk-margin-remove-bottom">Blockit section collections</h1>
                <h1 class="uk-margin-remove-top">awesome tools for everyone</h1>
                <div class="uk-grid uk-child-width-1-2@m uk-margin-large-top" data-uk-grid>
                    <div>
                        <h3>Feature heading</h3>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae</p>
                    </div>
                    <div>
                        <h3>Feature heading</h3>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->