<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-center">
            <div class="uk-width-3-4@m">
                <div class="uk-child-width-1-2@m in-card-14" data-uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-border-rounded">
                            <div class="uk-card-media-top uk-text-center">
                                <img src="{{root}}img/blockit/in-card-image-11.jpg" alt="sample-image">
                            </div>
                            <div class="uk-card-body uk-box-shadow-medium">
                                <h5>
                                    <a href="#">Some cool service tagline<span class="in-icon-wrap small circle uk-float-right"><i class="fas fa-arrow-right"></i></span></a>
                                </h5>                  
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-border-rounded">
                            <div class="uk-card-media-top uk-text-center">
                                <img src="{{root}}img/blockit/in-card-image-12.jpg" alt="sample-image">
                            </div>
                            <div class="uk-card-body uk-box-shadow-medium">
                                <h5>
                                    <a href="#">Some cool service tagline<span class="in-icon-wrap small circle uk-float-right"><i class="fas fa-arrow-right"></i></span></a>
                                </h5>                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->