<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid">
            <div class="uk-width-2-3@m">
                <h1>Blockit is easy way to make beautiful website powered by UIkit 3</h1>
                <p class="uk-text-lead">Lorem ipsum dolor sit amet consectet adipiscing elite, sed do eiusmod tempor incididunt ut laboremi dolore magna aliqua.</p>
                <a href="#" class="uk-button uk-button-large uk-button-text uk-margin-small-top">explore all features<i class="fas fa-chevron-circle-right fa-xs uk-margin-small-left"></i></a>
                <div class="uk-grid uk-child-width-1-4@m uk-margin-large-top uk-text-center" data-uk-grid>
                    <div>
                        <div class="in-icon-wrap large transparent uk-margin-auto">
                            <i class="fas fa-cog fa-5x"></i>
                        </div>
                        <h3 class="uk-margin-top">Feature one</h3>
                    </div>
                    <div>
                        <div class="in-icon-wrap large transparent uk-margin-auto">
                            <i class="fas fa-box-open fa-5x"></i>
                        </div>
                        <h3 class="uk-margin-top">Feature two</h3>
                    </div>
                    <div>
                        <div class="in-icon-wrap large transparent uk-margin-auto">
                            <i class="fas fa-road fa-5x"></i>
                        </div>
                        <h3 class="uk-margin-top">Feature three</h3>
                    </div>
                    <div>
                        <div class="in-icon-wrap large transparent uk-margin-auto">
                            <i class="fas fa-paper-plane fa-5x"></i>
                        </div>
                        <h3 class="uk-margin-top">Feature four</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->