<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large" data-uk-grid>
            <div class="uk-width-1-2@m">
                <img class="uk-width-1-1" src="{{root}}img/blockit/in-blob-2.svg" alt="image-blob">
            </div>
            <div class="uk-width-1-2@m">
                <h1>Blockit heading 1 feature</h1>
                <div class="uk-grid uk-child-width-1-2@m uk-margin-large-top" data-uk-grid>
                    <div>
                        <h3>Feature heading</h3>
                        <p>Duis aute irure dolor reprehenderit in voluptate velit esse cillum</p>
                    </div>
                    <div>
                        <h3>Feature heading</h3>
                        <p>Duis aute irure dolor reprehenderit in voluptate velit esse cillum</p>
                    </div>
                    <div>
                        <h3>Feature heading</h3>
                        <p>Duis aute irure dolor reprehenderit in voluptate velit esse cillum</p>
                    </div>
                    <div>
                        <h3>Feature heading</h3>
                        <p>Duis aute irure dolor reprehenderit in voluptate velit esse cillum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->