<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-divider uk-child-width-1-3@m uk-text-center" data-uk-grid>
            <div>
                <h1 class="uk-text-warning">
                    <span class="count" data-counter-end="86" data-counter-append="%">0%</span>
                </h1>
                <p class="uk-text-muted">Suscipit labor samnisi ute aliquid ea commodi fugiat consequa reprehenderi.</p>
            </div>
            <div>
                <h1 class="uk-text-success">
                    <span class="count" data-counter-end="98" data-counter-append="%">0%</span>
                </h1>
                <p class="uk-text-muted">Consectetur adipisci velit sed quia numquam eius modi tempora incidunt.</p>
            </div>
            <div>
                <h1 class="uk-text-danger">
                    <span class="count" data-counter-end="64" data-counter-append="%">0%</span>
                </h1>
                <p class="uk-text-muted">Perspiciatis unde omnis iste natus error sit voluptatem accu laudantium.</p>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->