<!-- section content begin -->
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large" data-uk-grid>
            <div class="uk-width-1-2@m">
                <div class="uk-flex uk-flex-middle">
                    <div class="in-icon-wrap transparent uk-margin-right">
                        <i class="fas fa-road fa-3x"></i>
                    </div>
                    <div>
                        <h2 class="uk-margin-remove">Blockit heading 2 feature</h2>
                    </div>
                </div>
                <p>Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt magnam aliquam quaerat voluptatem nostrum exercitationem.</p>
                <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-margin-small-top">Learn more</a>
            </div>
            <div class="uk-width-1-2@m">
                <div class="uk-flex uk-flex-middle">
                    <div class="in-icon-wrap transparent uk-margin-right">
                        <i class="fas fa-swatchbook fa-3x"></i>
                    </div>
                    <div>
                        <h2 class="uk-margin-remove">Blockit heading 2 feature</h2>
                    </div>
                </div>
                <p>Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt magnam aliquam quaerat voluptatem nostrum exercitationem.</p>
                <a href="#" class="uk-button uk-button-primary uk-border-rounded uk-margin-small-top">Learn more</a>
            </div>
        </div>
    </div>
</div>
<!-- section content end -->