<!-- section content begin -->
<section class="py-5 in-cirro-17">
    <div class="container position-relative">
        <img class="img-headquarters" src="img/in-cirro-17-background.png" alt="headquarters" width="540" height="513" />
        <div class="row">
            <div class="col-12 mb-2">
                <h1>Join a club of more than <span class="text-info">480,000</span> traders</h1>  
            </div>
        </div>
        <div class="row gx-0">
            <div class="col-md-12 col-lg-8">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 gx-2 gy-2">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="icon-wrap icon-wrap-small flex-shrink-0 me-1">
                                        <i class="fas fa-award fa-lg text-info"></i>
                                    </div>
                                    <h5 class="mb-0">Best reputation</h5>
                                </div>
                                <p class="mb-1">Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="icon-wrap icon-wrap-small flex-shrink-0 me-1">
                                        <i class="fas fa-tools fa-lg text-info"></i>
                                    </div>
                                    <h5 class="mb-0">Advanced tools</h5>
                                </div>
                                <p class="mb-1">Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="icon-wrap icon-wrap-small flex-shrink-0 me-1">
                                        <i class="fas fa-users fa-lg text-info"></i>
                                    </div>
                                    <h5 class="mb-0">480,000+ clients</h5>
                                </div>
                                <p class="mb-1">Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-2">
                                    <div class="icon-wrap icon-wrap-small flex-shrink-0 me-1">
                                        <i class="fas fa-building fa-lg text-info"></i>
                                    </div>
                                    <h5 class="mb-0">Worldwide office</h5>
                                </div>
                                <p class="mb-1">Adipisci sed quia numquam eius modi tempora incidunt ut labore et dolore consequuntur magni dolores.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <p class="text-muted">
                    <span class="badge bg-secondary me-1">Start trade</span> <span class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. <a class="text-decoration-none" href="#">Join now!</a></span>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->