<!-- section content begin -->
<section class="py-3 in-cirro-16">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="d-none">Stock price ticker</h1>
                <ul class="price-ticker list-inline overflow-hidden mb-0">
                    <li class="list-inline-item">XAUUSD<span class="badge bg-up ms-1">1.1159 &nbsp;(-0.11%)<i class="fas fa-arrow-trend-up"></i></span></li>
                    <li class="list-inline-item">GBPUSD<span class="badge bg-down ms-1">1.1159 &nbsp;(-0.11%)<i class="fas fa-arrow-trend-down"></i></span></li>
                    <li class="list-inline-item">EURUSD<span class="badge bg-down ms-1">1.1159 &nbsp;(-0.11%)<i class="fas fa-arrow-trend-down"></i></span></li>
                    <li class="list-inline-item">USDJPY<span class="badge bg-up ms-1">1.1159 &nbsp;(-0.11%)<i class="fas fa-arrow-trend-up"></i></span></li>
                    <li class="list-inline-item">USDCAD<span class="badge bg-up ms-1">1.1159 &nbsp;(-0.11%)<i class="fas fa-arrow-trend-up"></i></span></li>
                    <li class="list-inline-item">USDCHF<span class="badge bg-up ms-1">1.1159 &nbsp;(-0.11%)<i class="fas fa-arrow-trend-up"></i></span></li>
                    <li class="list-inline-item">AUDUSD<span class="badge bg-down ms-1">1.1159 &nbsp;(-0.11%)<i class="fas fa-arrow-trend-down"></i></span></li>
                    <li class="list-inline-item">GBPJPY<span class="badge bg-up ms-1">1.1159 &nbsp;(-0.11%)<i class="fas fa-arrow-trend-up"></i></span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->