<!-- section content begin -->
<section class="py-5 in-cirro-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <h1 class="mb-1">Some of the things you may want to know</h1>
                <p class="lead mb-4">We answered questions so you don’t have to ask.</p>
                <a href="#" class="btn btn-link"><i class="fas fa-arrow-right"></i>View more questions</a>
            </div>
            <div class="col-md-12 col-lg-6 mt-5 mt-lg-0">
                <div class="accordion accordion-style-5 mt-n2 mb-3" id="sampleFive">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#a5One" aria-expanded="true">
                                How do I open an account with Cirro? 
                            </button>
                        </h2>
                        <div id="a5One" class="accordion-collapse collapse show" data-bs-parent="#sampleFive">
                            <div class="accordion-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Two" aria-expanded="false">
                                How much money do I need to open an account?
                            </button>
                        </h2>
                        <div id="a5Two" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                            <div class="accordion-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Three" aria-expanded="false">
                                How do I fund my account?
                            </button>
                        </h2>
                        <div id="a5Three" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                            <div class="accordion-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#a5Four" aria-expanded="false">
                                How will my withdrawal be processed?
                            </button>
                        </h2>
                        <div id="a5Four" class="accordion-collapse collapse" data-bs-parent="#sampleFive">
                            <div class="accordion-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->