<!-- section content begin -->
<section class="py-5 bg-primary text-white in-cirro-8">
    <div class="container my-2">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-2 g-md-2 gx-lg-2">
            <div class="col d-flex align-items-center mb-3 mb-md-0">
                <div>
                    <h1 class="text-white">Trade types</h1>
                    <p class="lead mb-4">Explore different trade types to trade on your preferred market.</p>
                    <a href="#" class="btn btn-link"><i class="fas fa-arrow-right"></i>Start Trading</a>
                </div>
            </div>
            <div class="col d-flex align-items-stretch">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="mt-1" src="img/in-cirro-2-icon-5.svg" alt="icon" width="56" height="56" />
                        <h5 class="fw-bold mt-4 text-white">Margin trading</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-stretch">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="mt-1" src="img/in-cirro-2-icon-2.svg" alt="icon" width="56" height="56" />
                        <h5 class="fw-bold mt-4 text-white">Options</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-stretch">
                <div class="card text-center">
                    <div class="card-body">
                        <img class="mt-1" src="img/in-cirro-2-icon-6.svg" alt="icon" width="56" height="56" />
                        <h5 class="fw-bold mt-4 text-white">Multipliers</h5>
                        <p>Excepteur sint occaecat cupidatat non proident sunt culpa officia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->