<!-- section content begin -->
<section class="py-3 in-cirro-21">
    <div class="container">
        <div class="row d-flex align-items-center gx-0 gx-lg-4 gy-2 gy-lg-0">
            <div class="col-md-12 col-lg-4 border-end-lg">
                <h4 class="mt-1">Trading products</h4>
                <p class="small text-muted mb-1">Choose from 6 asset classes and get access to 500+ trading instruments</p>
            </div>
            <div class="col-md-12 col-lg-8 mb-2 mb-lg-0">
                <div class="row row-cols-2 row-cols-md-6 row-cols-lg-6 gx-0 gy-2 gy-md-0">
                    <div class="col text-center">
                        <div class="icon-wrap icon-wrap-medium bg-white">
                            <i class="fas fa-euro-sign fa-xl text-info"></i>
                        </div>
                        <p class="text-muted mt-1 mb-0">Forex</p>
                    </div>
                    <div class="col text-center">
                        <div class="icon-wrap icon-wrap-medium bg-white">
                            <i class="fas fa-bitcoin-sign fa-xl text-info"></i>
                        </div>
                        <p class="text-muted mt-1 mb-0">Crypto</p>
                    </div>
                    <div class="col text-center">
                        <div class="icon-wrap icon-wrap-medium bg-white">
                            <i class="fas fa-chart-area fa-xl text-info"></i>
                        </div>
                        <p class="text-muted mt-1 mb-0">Indexes</p>
                    </div>
                    <div class="col text-center">
                        <div class="icon-wrap icon-wrap-medium bg-white">
                            <i class="fas fa-file-contract fa-xl text-info"></i>
                        </div>
                        <p class="text-muted mt-1 mb-0">Stocks</p>
                    </div>
                    <div class="col text-center">
                        <div class="icon-wrap icon-wrap-medium bg-white">
                            <i class="fas fa-tint fa-xl text-info"></i>
                        </div>
                        <p class="text-muted mt-1 mb-0">Energy</p>
                    </div>
                    <div class="col text-center">
                        <div class="icon-wrap icon-wrap-medium bg-white">
                            <i class="fas fa-cube fa-xl text-info"></i>
                        </div>
                        <p class="text-muted mt-1 mb-0">Commodities</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->