<!-- section content begin -->
<section class="pt-3 in-cirro-10">
    <div class="container mt-0 mt-md-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="row d-flex align-items-start">
                    <div class="col-md-5 col-lg-6 order-last order-md-first">
                        <img class="w-100" src="img/in-cirro-10-mockup.png" alt="mockup" />
                    </div>
                    <div class="col-md-7 col-lg-6 pb-5 order-first order-md-last">
                        <h1 class="mb-2">Platform by traders, for traders</h1>
                        <p class="text-muted mb-3 d-none d-lg-block">Seize your opportunity, with technology built designed to ensure that your deal goes through.</p>
                        <a href="#"><img src="img/in-app-button-apple.svg" alt="apple" width="120" height="40" /></a>
                        <a href="#" class="ms-1"><img src="img/in-app-button-google.svg" alt="google" width="135" height="40" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->