<!-- section content begin -->
<section class="py-5 in-cirro-15 bg-white">
    <div class="container mb-2">
        <div class="row row-cols-1 row-cols-lg-3 gx-0 gx-lg-5 gy-3 gy-lg-0">
            <div class="col border-bottom border-bottom-lg-0 border-end-lg pb-4 pb-lg-0">
                <div class="d-flex align-items-start">
                    <img class="mt-1 me-2" src="img/in-cirro-15-image.svg" alt="image" width="73" height="127" />
                    <div>
                        <h3 class="h4">What just happened. And what comes next.</h3>
                        <p class="text-muted">Get timely news and analysis from top publications and financial websites</p>
                        <a href="#" class="btn btn-primary mt-1">More insights</a>
                    </div>
                </div>
            </div>
            <div class="col border-bottom border-bottom-lg-0 border-end-lg pb-4 pb-lg-0">
                <div class="d-flex align-items-center text-muted">
                    <i class="fas fa-video"></i>
                    <p class="fw-bold small text-uppercase ms-1 mb-0">Video</p>
                </div>
                <h3 class="h4 mt-3">Investing for Income</h3>
                <div class="blog-author d-flex align-items-center">
                    <small class="text-muted">
                        Peter Parker<span class="mx-1">•</span>
                    </small>
                    <small class="text-muted">
                        October 19, 2021
                    </small>
                </div>
                <p class="mt-2 mb-4">Eiusmod et tempora incididunt ut labore dolore magna aliqua ut enim ad minim veniam quis exercita.</p>
                <a href="#" class="btn btn-link"><i class="fas fa-arrow-right"></i>Continue reading</a>
            </div>
            <div class="col">
                <div class="d-flex align-items-center text-muted">
                    <i class="fas fa-file-alt"></i>
                    <p class="fw-bold small text-uppercase ms-1 mb-0">Article</p>
                </div>
                <h3 class="h4 mt-3">New to Online Investing</h3>
                <div class="blog-author d-flex align-items-center">
                    <small class="text-muted">
                        Peter Parker<span class="mx-1">•</span>
                    </small>
                    <small class="text-muted">
                        October 19, 2021
                    </small>
                </div>
                <p class="mt-2 mb-4">Nam liberum tempore soluta nobis est eligendi optioka cumque nihil impedit minus quod maxime placeat.</p>
                <a href="#" class="btn btn-link"><i class="fas fa-arrow-right"></i>Continue reading</a>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->