<!-- section content begin -->
<section class="py-5 in-cirro-3">
    <div class="container">
        <div class="row d-flex align-items-center gx-5 mb-3">
            <div class="col-md-12 col-lg-5 mb-5 mb-md-3 mb-lg-0">
                <span class="badge bg-secondary mb-3">Popular instruments</span>
                <h1 class="mt-2 mb-1">Live prices on popular markets</h1>
                <p class="lead mb-4">Inform your decisions with timely dispatches from our team of global analysts.</p>
                <a href="#" class="btn btn-link"><i class="fas fa-arrow-right"></i>Find out more</a>
            </div>
            <div class="col-md-12 col-lg-7 mt-md-5">
                <div class="card card-body ms-lg-5">
                    <div id="tradingview-widget"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->