<!-- section content begin -->
<section class="py-5 in-cirro-20 bg-white">
    <div class="container d-flex justify-content-center">
        <div class="col-md-12 col-lg-8">
            <div class="row row-cols-1 row-cols-md-3 gy-3 gy-md-0">
                <div class="col text-center">
                    <img src="img/in-cirro-20-award.svg" alt="award" width="84" height="78" />
                    <div class="mt-2">
                        <h6 class="mb-0">Best Forex Broker</h6>
                        <p class="text-muted small mb-0">TradeOn Summit 2020</p>
                    </div>
                </div>
                <div class="col text-center">
                    <img src="img/in-cirro-20-award.svg" alt="award" width="84" height="78" />
                    <div class="mt-2">
                        <h6 class="mb-0">Best ECN Broker</h6>
                        <p class="text-muted small mb-0">Forex Expo Dubai 2020</p>
                    </div>
                </div>
                <div class="col text-center">
                    <img src="img/in-cirro-20-award.svg" alt="award" width="84" height="78" />
                    <div class="mt-2">
                        <h6 class="mb-0">Best Trading App</h6>
                        <p class="text-muted small mb-0">London Summit 2020</p>
                    </div>
                </div>
                <div class="col-md-12 mt-4 mb-2">
                    <div class="card card-body p-2">
                        <div class="hstack gap-4 d-flex justify-content-center">
                            <div class="d-none d-lg-block">
                                <a href="#" class="d-flex align-items-center text-decoration-none">
                                    <div class="icon-wrap icon-wrap-small flex-shrink-0 me-1">
                                        <i class="fas fa-phone fa-lg text-info"></i>
                                    </div>
                                    <p class="small text-info mb-0">1-800-123-4567</p>
                                </a>
                            </div>
                            <div class="vr d-none d-lg-block"></div>
                            <div>
                                <a href="#" class="d-flex align-items-center text-decoration-none">
                                    <div class="icon-wrap icon-wrap-small flex-shrink-0 me-1">
                                        <i class="fas fa-envelope-open-text fa-lg text-info"></i>
                                    </div>
                                    <p class="small text-info mb-0">support@cirro-invest.id</p>
                                </a>
                            </div>
                            <div class="vr d-none d-md-block"></div>
                            <div class="d-none d-md-block">
                                <a href="#" class="d-flex align-items-center text-decoration-none">
                                    <div class="icon-wrap icon-wrap-small flex-shrink-0 me-1">
                                        <i class="fas fa-comment-dots fa-lg text-info"></i>
                                    </div>
                                    <p class="small text-info mb-0">Live Chat Support</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->