<!-- section content begin -->
<section class="py-5 bg-primary text-white in-cirro-12">
    <div class="container">
        <div class="row d-flex align-items-center mb-md-2 mb-lg-0 gy-3 gy-lg-0 gx-lg-5">
            <div class="col-12 col-lg-4">
                <h1 class="text-white">Why Cirro is a <span class="text-info">trusted</span> broker</h1>
                <p class="mb-0">Duis aute irure dolor in reprehenderit in nulla pariatur sunt in anim culpa qui officia voluptate velit esse fugiat.</p>
            </div>
            <div class="col-12 col-lg-8">
                <div class="row row-cols-1 row-cols-md-2 gy-4">
                    <div class="col d-flex align-items-center">
                        <img src="img/in-cirro-2-icon-1.svg" alt="icon" width="54" height="54" />
                        <div class="ms-2">
                            <p class="mb-0">Wide Range of Instruments</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center">
                        <img src="img/in-cirro-2-icon-4.svg" alt="icon" width="54" height="54" />
                        <div class="ms-2">
                            <p class="mb-0">Unparalleled Trading Conditions</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center">
                        <img src="img/in-cirro-2-icon-3.svg" alt="icon" width="54" height="54" />
                        <div class="ms-2">
                            <p class="mb-0">Globally Licensed & Regulated</p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center">
                        <img src="img/in-cirro-2-icon-6.svg" alt="icon" width="54" height="54" />
                        <div class="ms-2">
                            <p class="mb-0">Committed to Forex Education</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->