<!-- section content begin -->
<section class="py-5 in-cirro-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-body">
                    <div class="row gx-0 d-flex align-items-center position-relative">
                        <div class="col-md-5 col-lg-6">
                            <img class="testi-image" src="img/in-cirro-4-people.png" alt="testimonial" width="418" height="441" />
                        </div>
                        <div class="col-md-7 col-lg-6">
                            <blockquote class="blockquote">
                                <p>They are very knowledgeable and provide our clients with excellent customer service.</p>
                            </blockquote>
                            <h2 class="h6 mt-3 mb-0">Laura Belo</h2>
                            <span class="blockquote-footer">NeoTrade Systems Inc.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->