<!-- section content begin -->
<section class="py-4 bg-info in-cirro-6">
    <div class="container">
        <div class="row">
            <div class="col-12 d-md-flex justify-content-md-start align-items-center">
                <div class="border-end-md pe-md-5 d-block">
                    <h2 class="text-white mb-0">Start investing today.</h2>
                </div>
                <div class="mt-3 mt-md-0 ps-md-5">
                    <a href="#" class="btn btn-link"><i class="fas fa-arrow-right"></i>Open account</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->