<!-- section content begin -->
<section class="py-5 in-cirro-13">
    <div class="container mt-3">
        <div class="row d-flex align-items-center gx-5 mb-3">
            <div class="col-md-12 col-lg-5">
                <h1>Experience superior trading conditions</h1>
                <p class="lead mb-3">We pride ourselves on offering fully transparent quality execution, alongside some of the best trading conditions.</p>
                <ul class="fa-ul lh-lg">
                    <li><span class="fa-li"><i class="fas fa-check-square text-info"></i></span>No dealing desk intervention</li>
                    <li><span class="fa-li"><i class="fas fa-check-square text-info"></i></span>Сompetitive spreads with no commission</li>
                    <li><span class="fa-li"><i class="fas fa-check-square text-info"></i></span>Ultra-Fast execution with most orders filled</li>
                    <li><span class="fa-li"><i class="fas fa-check-square text-info"></i></span>Deep Liquidity providing the best possible prices</li>
                </ul>
                <p class="small text-muted mt-3">Find out more about <a href="#" class="link-info text-decoration-none">how we execute orders.</a></p>
            </div>
            <div class="col-md-12 col-lg-7 mt-3 mt-lg-0">
                <div class="card card-body ms-lg-5">
                    <div id="tradingview-widget"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->