<!-- section content begin -->
<section class="py-5 in-cirro-18 bg-white">
    <div class="container mb-4">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="text-center">
                    <h1 class="mb-1">Cirro trading academy</h1>
                    <p class="lead">Explore, Learn, and Grow</p>
                </div>
                <div class="row row-cols-1 row-cols-md-3 gx-2 gy-1 gy-md-0 mt-3">
                    <div class="col">
                        <a href="#" class="btn btn-outline-primary w-100"><i class="fas fa-video fa-lg me-1"></i>9 Lessons 70+ Videos</a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-outline-primary w-100"><i class="fas fa-graduation-cap fa-lg me-1"></i>Test your Knowledge</a>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-outline-primary w-100"><i class="fas fa-award fa-lg me-1"></i>Certificate Awarded</a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="row d-flex align-items-center gx-0 gx-lg-5 gy-3 gy-lg-0">
                    <div class="col-12 col-lg-8 bigger-picture">
                        <div class="video-training position-relative me-0 me-xl-5">
                            <img class="w-100" src="img/in-cirro-18-video.jpg" alt="sample-images" width="626" height="368">
                            <div class="position-absolute top-50 start-50 translate-middle">
                                <a
                                    href="https://www.youtube.com/watch?v=F3QpgXBtDeo"
                                    data-width="900"
                                    data-height="506"
                                    data-iframe="https://www.youtube.com/embed/F3QpgXBtDeo?autoplay=1&playsinline=1"
                                >
                                    <div class="play-video-button"></div>
                                    <i class="fas fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <h3 class="mt-1">What you will learn</h3>
                        <ul class="fa-ul lh-lg">
                            <li><span class="fa-li"><i class="fas fa-check-square text-info"></i></span>Introduction to Financial Trading</li>
                            <li><span class="fa-li"><i class="fas fa-check-square text-info"></i></span>Technical Analysis</li>
                            <li><span class="fa-li"><i class="fas fa-check-square text-info"></i></span>Fundamental Analysis</li>
                            <li><span class="fa-li"><i class="fas fa-check-square text-info"></i></span>When to Enter &amp; Exit Trades</li>
                            <li><span class="fa-li"><i class="fas fa-check-square text-info"></i></span>How to Manage Risk</li>
                            <li><span class="fa-li"><i class="fas fa-check-square text-info"></i></span>Trading Psychology</li>
                        </ul>
                        <a href="#" class="btn btn-link mt-2"><i class="fas fa-arrow-right"></i>Create demo account now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->