<!-- section content begin -->
<section class="py-5 in-cirro-9">
    <div class="container mt-2">
        <div class="row mb-5 gx-0">
            <div class="col-12 col-lg-6 pb-3 pb-lg-0">
                <div class="row">
                    <div class="col-md-7 col-lg-6">
                        <h1 class="mb-1">Beginner <span class="text-info">Trader</span></h1>
                        <p class="mb-1">Nemo enim ipsam natus voluptatem quia voluptas sit aspernatur aut odit aut consequuntur magni dolores eos qui ratione</p>
                    </div>
                    <div class="col-md-5 col-lg-6 d-flex align-items-end">
                        <ul class="fa-ul">
                            <li><a href="#" class="link-dark text-decoration-none"><span class="fa-li"><i class="fas fa-arrow-right text-info"></i></span>Webinars</a></li>
                            <li><a href="#" class="link-dark text-decoration-none"><span class="fa-li"><i class="fas fa-arrow-right text-info"></i></span>Seminars</a></li>
                            <li><a href="#" class="link-dark text-decoration-none"><span class="fa-li"><i class="fas fa-arrow-right text-info"></i></span>Financial events</a></li>
                            <li><a href="#" class="link-dark text-decoration-none"><span class="fa-li"><i class="fas fa-arrow-right text-info"></i></span>Forex calendars</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 border-top border-top-lg-0 border-start-lg pt-3 pt-lg-0 ps-lg-4">
                <div class="row">
                    <div class="col-md-7 col-lg-6">
                        <h1 class="mb-1">Experienced <span class="text-info">Trader</span></h1>
                        <p class="mb-1">Nemo enim ipsam natus voluptatem quia voluptas sit aspernatur aut odit aut consequuntur magni dolores eos qui ratione</p>
                    </div>
                    <div class="col-md-5 col-lg-6 d-flex align-items-end">
                        <ul class="fa-ul">
                            <li><a href="#" class="link-dark text-decoration-none"><span class="fa-li"><i class="fas fa-arrow-right text-info"></i></span>Trading strategis</a></li>
                            <li><a href="#" class="link-dark text-decoration-none"><span class="fa-li"><i class="fas fa-arrow-right text-info"></i></span>Metatrader 5</a></li>
                            <li><a href="#" class="link-dark text-decoration-none"><span class="fa-li"><i class="fas fa-arrow-right text-info"></i></span>Trading Psychology</a></li>
                            <li><a href="#" class="link-dark text-decoration-none"><span class="fa-li"><i class="fas fa-arrow-right text-info"></i></span>Market News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 mt-lg-3">
                <div class="row gx-0">
                    <div class="col-md-12 col-lg-2 border-end-lg d-flex align-items-center justify-content-center justify-content-md-center justify-content-lg-start">
                        <h6 class="fw-bold text-muted text-center mb-md-2 mb-lg-0">Featured on</h6>
                    </div>
                    <div class="col-md-12 col-lg-10">
                        <div class="row row-cols-1 row-cols-md-4 row-cols-lg-4 gx-0">
                            <div class="col text-center">
                                <img class="opacity-75 my-2 my-md-1 my-lg-1" src="img/in-cirro-press-1.svg" alt="press-logo" width="128" height="21">
                            </div>
                            <div class="col text-center">
                                <img class="opacity-75 my-2 my-md-1 my-lg-1" src="img/in-cirro-press-2.svg" alt="press-logo" width="128" height="23">
                            </div>
                            <div class="col text-center">
                                <img class="opacity-75 my-2 my-md-1 my-lg-1" src="img/in-cirro-press-3.svg" alt="press-logo" width="127" height="24">
                            </div>
                            <div class="col text-center">
                                <img class="opacity-75 my-2 my-md-1 my-lg-1" src="img/in-cirro-press-4.svg" alt="press-logo" width="126" height="30">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->