<!-- section content begin -->
<section class="py-5 bg-primary text-white in-cirro-19" style="background: url(img/in-cirro-19-background.png) no-repeat bottom;">
    <div class="container my-2">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="row row-cols-1 row-cols-lg-2 align-items-center gy-3 gy-lg-0">
                    <div class="col">
                        <span class="badge bg-info mb-2">Announcing</span>
                        <h2 class="text-white mt-2 mb-1"><span class="display-4">$4.95</span> online stocks, currencies & commodities trades</h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore.</p>
                        <a href="#" class="btn btn-link"><i class="fas fa-arrow-right"></i>Learn more</a>
                    </div>
                    <div class="col">
                        <div class="card card-body px-4">
                            <h3 class="text-white text-center mt-1">Start investing now.</h3>
                            <form class="row g-1 mb-2">
                                <div class="col-12">
                                    <input class="form-control" id="fullname" name="fullname" type="text" placeholder="Full Name" aria-label="Full Name" required="">
                                </div>
                                <div class="col-12">
                                    <input class="form-control" id="emailaddress" name="emailadrress" type="text" placeholder="Email address" aria-label="Email address" required="">
                                </div>
                                <div class="col-12">
                                    <input class="form-control" id="phonenumber" name="phonenumber" type="text" placeholder="Phone Number" aria-label="Phone Number" required="">
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-info" id="sendemail" type="submit" name="submit">Create Account</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->