<!-- section content begin -->
<section class="py-5 in-cirro-7">
    <div class="container my-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 mt-1">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-2 g-md-2 gx-lg-2 text-center">
                    <div class="col">
                        <img src="img/in-cirro-2-icon-1.svg" alt="icon" width="64" height="64" />
                        <h6 class="fw-bold mt-2">Wide Range of Trading Instruments</h6>
                    </div>
                    <div class="col">
                        <img src="img/in-cirro-2-icon-2.svg" alt="icon" width="64" height="64" />
                        <h6 class="fw-bold mt-2">Unparalleled Trading Conditions</h6>
                    </div>
                    <div class="col">
                        <img src="img/in-cirro-2-icon-3.svg" alt="icon" width="64" height="64" />
                        <h6 class="fw-bold mt-2">Globally Licensed & Regulated</h6>
                    </div>
                    <div class="col">
                        <img src="img/in-cirro-2-icon-4.svg" alt="icon" width="64" height="64" />
                        <h6 class="fw-bold mt-2">Committed to Forex Education</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 col-lg-5">
                <h1 class="mb-3">Discover a World of Opportunities</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisci eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud amet exercitation ullamco laboris nisi aliquip commodo.</p>
                <div class="row row-cols-1 row-cols-md-3 gy-2 g-md-2 gx-lg-2 mt-1">
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <p class="fs-4 text-info mb-0">1700+</p>
                                <p class="text-muted">Markets</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <p class="fs-4 text-info mb-0">31</p>
                                <p class="text-muted">Countries</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <p class="fs-4 text-info mb-0">22</p>
                                <p class="text-muted">Currencies</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-7 position-relative">
                <img class="w-100 mt-3 mt-lg-0" src="img/in-cirro-7-map.svg" alt="map" />
                <span class="position-absolute dot-pulse one" style="left: 20%; top: 42%"></span>
                <span class="position-absolute dot-pulse two" style="left: 22%; top: 32%"></span>
                <span class="position-absolute dot-pulse one" style="left: 30%; top: 30%"></span>
                <span class="position-absolute dot-pulse one" style="left: 44%; top: 27%"></span>
                <span class="position-absolute dot-pulse one" style="left: 50%; top: 30%"></span>
                <span class="position-absolute dot-pulse two" style="left: 66%; top: 47%"></span>
                <span class="position-absolute dot-pulse two" style="left: 55%; top: 38%"></span>
                <span class="position-absolute dot-pulse two" style="left: 72%; top: 53%"></span>
                <span class="position-absolute dot-pulse one" style="left: 82%; top: 35%"></span>
                <span class="position-absolute dot-pulse two" style="left: 76%; top: 43%"></span>
                <span class="position-absolute dot-pulse one" style="left: 85%; top: 72%"></span>
                <p class="small text-muted text-center mt-2">Illustration purpose only and should not be relied upon for investment decisions.</p>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->