<!-- section content begin -->
<section class="py-4 bg-info in-cirro-11">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-3 gy-lg-0">
            <div class="col d-flex align-items-center">
                <img src="img/in-cirro-11-award.svg" alt="award" width="54" height="50" />
                <div class="ms-2">
                    <h6 class="text-white mb-0">Best Forex Broker</h6>
                    <p class="text-white text-opacity-75 small mb-0">TradeOn Summit 2020</p>
                </div>
            </div>
            <div class="col d-flex align-items-center">
                <img src="img/in-cirro-11-award.svg" alt="award" width="54" height="50" />
                <div class="ms-2">
                    <h6 class="text-white mb-0">Best ECN Broker</h6>
                    <p class="text-white text-opacity-75 small mb-0">Forex Expo Dubai 2020</p>
                </div>
            </div>
            <div class="col d-flex align-items-center">
                <img src="img/in-cirro-11-award.svg" alt="award" width="54" height="50" />
                <div class="ms-2">
                    <h6 class="text-white mb-0">Best Trading App</h6>
                    <p class="text-white text-opacity-75 small mb-0">London Summit 2020</p>
                </div>
            </div>
            <div class="col d-flex align-items-center">
                <img src="img/in-cirro-11-award.svg" alt="award" width="54" height="50" />
                <div class="ms-2">
                    <h6 class="text-white mb-0">Best Crypto Broker</h6>
                    <p class="text-white text-opacity-75 small mb-0">Forex Expo Taiwan 2020</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section content end -->