.in-counter-6 {
    .uk-card-default {        
        border: $global-border-width solid $global-border;
        border-radius: $border-rounded-border-radius;
        background-color: $global-inverse-color;
    }
}