.in-testimonial-7 {    
    .uk-card {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .uk-card-default {
        border: $global-border-width solid $global-border;
        background-color: $global-inverse-color;
    }
}